openapi: 3.0.3
info:
  title: ExtremeCloud IQ Account Configuration - Policy API
  description: 'ExtremeCloud IQ™ API allows customers and partners to create solutions for the management, monitoring, and provisioning

    of any ExtremeCloud IQ™ environment.


    All related resources and documentation are available at [ExtremeCloud IQ Developer Portal](https://developer.extremecloudiq.com/).

    Please check [Get Started and Tutorial](https://developer.extremecloudiq.com/documentation/) to understand how to use the APIs.


    Get the [latest OpenAPI definition](https://github.com/extremenetworks/ExtremeCloudIQ-OpenAPI/blob/main/xcloudiq-openapi.yaml)

    from [ExtremeCloud IQ OpenAPI GitHub repository](https://github.com/extremenetworks/ExtremeCloudIQ-OpenAPI).


    Please have a valid [ExtremeCloud IQ](https://extremecloudiq.com/) account before getting started.

    If you don''t have one, please [register a new account](https://www.extremenetworks.com/cloud-networking/).'
  termsOfService: https://www.extremenetworks.com/company/legal/terms-of-use/
  contact:
    name: Extreme Networks Support
    url: https://www.extremenetworks.com/support
    email: support@extremenetworks.com
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.html
  version: 25.9.0-36
servers:
- url: https://api.extremecloudiq.com
  description: ExtremeCloud IQ REST API Server
tags:
- name: Configuration - Policy
  description: SSID/User Profile/Classification Rule/CCG/Radio Profile/...
paths:
  /classification-rules:
    get:
      tags:
      - Configuration - Policy
      summary: List classification rules
      description: List a page of classification rules.
      externalDocs:
        description: API Reference
        url: https://extremecloudiq.com/api-docs/api-reference.html#_list_the_classification_rules
      operationId: listClassificationRules
      parameters:
      - $ref: '#/components/parameters/page'
      - $ref: '#/components/parameters/limit'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PagedXiqClassificationRule'
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
      - BearerAuth: []
    post:
      tags:
      - Configuration - Policy
      summary: Create classification rule
      description: Create a new classification rule.
      externalDocs:
        description: API Reference
        url: https://extremecloudiq.com/api-docs/api-reference.html#_create_classification_rule_configuration
      operationId: createClassificationRule
      requestBody:
        description: The payload to create a new classification rule
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/XiqCreateClassificationRuleRequest'
        required: true
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/XiqClassificationRule'
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
      - BearerAuth: []
  /classification-rules/{id}:
    get:
      tags:
      - Configuration - Policy
      summary: Get a classification rule by ID
      description: Get a specific classification rule.
      externalDocs:
        description: API Reference
        url: https://extremecloudiq.com/api-docs/api-reference.html#_get_classification_rule_by_id
      operationId: getClassificationRule
      parameters:
      - $ref: '#/components/parameters/id'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/XiqClassificationRule'
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
      - BearerAuth: []
    put:
      tags:
      - Configuration - Policy
      summary: Update classification rule
      description: Update the exist classification rule.
      externalDocs:
        description: API Reference
        url: https://extremecloudiq.com/api-docs/api-reference.html#_update_classification_rule_configuration
      operationId: updateClassificationRule
      parameters:
      - $ref: '#/components/parameters/id'
      requestBody:
        description: The payload to update exist classification rule
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/XiqUpdateClassificationRuleRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/XiqClassificationRule'
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
      - BearerAuth: []
    delete:
      tags:
      - Configuration - Policy
      summary: Delete classification rule by ID
      description: Delete an existing classification rule by ID.
      externalDocs:
        description: API Reference
        url: https://extremecloudiq.com/api-docs/api-reference.html#_delete_classification_rule_configuration
      operationId: deleteClassificationRule
      parameters:
      - $ref: '#/components/parameters/id'
      responses:
        '200':
          description: OK
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
      - BearerAuth: []
  /l3-address-profiles:
    get:
      tags:
      - Configuration - Policy
      summary: List L3 address profile
      description: List all L3 Address Profiles.
      externalDocs:
        description: API Reference
        url: https://extremecloudiq.com/api-docs/api-reference.html#_list_the_l3_address_profile
      operationId: listL3AddressProfiles
      parameters:
      - name: addressType
        in: query
        description: The address type
        schema:
          type: string
          enum:
          - L3_ADDRESS_TYPE_UNSPECIFIED
          - L3_ADDRESS_TYPE_IP_ADDRESS
          - L3_ADDRESS_TYPE_IP_SUBNET
          - L3_ADDRESS_TYPE_IP_RANGE
          - L3_ADDRESS_TYPE_HOST_NAME
          - L3_ADDRESS_TYPE_WILDCARD_HOST_NAME
          - L3_ADDRESS_TYPE_WILDCARD
          - UNRECOGNIZED
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/XiqL3AddressProfile'
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
      - BearerAuth: []
    post:
      tags:
      - Configuration - Policy
      summary: Create L3 address profile
      description: Create a new L3 address profile.
      externalDocs:
        description: API Reference
        url: https://extremecloudiq.com/api-docs/api-reference.html#_create_l3_address_profile
      operationId: createL3AddressProfile
      requestBody:
        description: The payload to create a new L3 address profile.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/XiqCreateL3AddressProfileRequest'
        required: true
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                oneOf:
                - $ref: '#/components/schemas/XiqHostNameAddressProfile'
                - $ref: '#/components/schemas/XiqWildcardHostNameAddressProfile'
                - $ref: '#/components/schemas/XiqIpAddressProfile'
                - $ref: '#/components/schemas/XiqIpRangeAddressProfile'
                - $ref: '#/components/schemas/XiqSubnetAddressProfile'
                - $ref: '#/components/schemas/XiqWildcardAddressProfile'
                discriminator:
                  propertyName: addressType
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
      - BearerAuth: []
  /l3-address-profiles/{id}:
    get:
      tags:
      - Configuration - Policy
      summary: Get L3 address profile by ID
      description: Get an existing L3 address profile by the specified ID.
      externalDocs:
        description: API Reference
        url: https://extremecloudiq.com/api-docs/api-reference.html#_get_l3_address_profile_by_id
      operationId: getL3AddressProfile
      parameters:
      - $ref: '#/components/parameters/id'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                oneOf:
                - $ref: '#/components/schemas/XiqHostNameAddressProfile'
                - $ref: '#/components/schemas/XiqWildcardHostNameAddressProfile'
                - $ref: '#/components/schemas/XiqIpAddressProfile'
                - $ref: '#/components/schemas/XiqIpRangeAddressProfile'
                - $ref: '#/components/schemas/XiqSubnetAddressProfile'
                - $ref: '#/components/schemas/XiqWildcardAddressProfile'
                discriminator:
                  propertyName: addressType
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
      - BearerAuth: []
    put:
      tags:
      - Configuration - Policy
      summary: Update L3 address profile by ID
      description: Update an existing L3 address profile by the specified ID.
      externalDocs:
        description: API Reference
        url: https://extremecloudiq.com/api-docs/api-reference.html#_update_L3_address_profile_by_id
      operationId: updateL3AddressProfile
      parameters:
      - $ref: '#/components/parameters/id'
      requestBody:
        description: The payload of the update L3 address profile.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/XiqUpdateL3AddressProfileRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                oneOf:
                - $ref: '#/components/schemas/XiqHostNameAddressProfile'
                - $ref: '#/components/schemas/XiqWildcardHostNameAddressProfile'
                - $ref: '#/components/schemas/XiqIpAddressProfile'
                - $ref: '#/components/schemas/XiqIpRangeAddressProfile'
                - $ref: '#/components/schemas/XiqSubnetAddressProfile'
                - $ref: '#/components/schemas/XiqWildcardAddressProfile'
                discriminator:
                  propertyName: addressType
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
      - BearerAuth: []
    delete:
      tags:
      - Configuration - Policy
      summary: Delete L3 address profile by ID
      description: Delete an existing L3 address profile by the specified ID.
      externalDocs:
        description: API Reference
        url: https://extremecloudiq.com/api-docs/api-reference.html#_delete_L3_address_profile_by_id
      operationId: deleteL3AddressProfile
      parameters:
      - $ref: '#/components/parameters/id'
      responses:
        '200':
          description: OK
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
      - BearerAuth: []
  /ip-firewall-policies:
    get:
      tags:
      - Configuration - Policy
      summary: List IP Firewall policies
      description: List a page of IP Firewall policies.
      externalDocs:
        description: API Reference
        url: https://extremecloudiq.com/api-docs/api-reference.html#_list_ip_firewall_policies
      operationId: listIpFirewallPolicies
      parameters:
      - $ref: '#/components/parameters/page'
      - $ref: '#/components/parameters/limit'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PagedIpFirewall'
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
      - BearerAuth: []
    post:
      tags:
      - Configuration - Policy
      summary: Create IP Firewall policy
      description: Create a new IP Firewall policy.
      externalDocs:
        description: API Reference
        url: https://extremecloudiq.com/api-docs/api-reference.html#_create_ip_firewall_policy
      operationId: createIpFirewallPolicy
      requestBody:
        description: The payload to create a new IP Firewall policy.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/XiqIpFirewallPolicyRequest'
        required: true
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/XiqIpFirewall'
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
      - BearerAuth: []
  /ip-firewall-policies/{id}:
    get:
      tags:
      - Configuration - Policy
      summary: Get IP Firewall Policy by ID
      description: Get an existing IP Firewall policy by the specified ID.
      externalDocs:
        description: API Reference
        url: https://extremecloudiq.com/api-docs/api-reference.html#_get_ip_firewall_policy_by_id
      operationId: getIpFirewallPolicy
      parameters:
      - $ref: '#/components/parameters/id'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/XiqIpFirewall'
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
      - BearerAuth: []
    put:
      tags:
      - Configuration - Policy
      summary: Update IP Firewall policy by ID
      description: Update an existing IP Firewall policy by the specified ID.
      externalDocs:
        description: API Reference
        url: https://extremecloudiq.com/api-docs/api-reference.html#_update_ip_firewall_policy_by_id
      operationId: updateIpPolicyRequest
      parameters:
      - $ref: '#/components/parameters/id'
      requestBody:
        description: The payload of the update IP Firewall policy request.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/XiqIpFirewallPolicyRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/XiqIpFirewall'
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
      - BearerAuth: []
    delete:
      tags:
      - Configuration - Policy
      summary: Delete IP Firewall policy by ID
      description: Delete an existing IP Firewall policy by the specified ID.
      externalDocs:
        description: API Reference
        url: https://extremecloudiq.com/api-docs/api-reference.html#_delete_ip_firewall_policy_by_id
      operationId: deleteIpFirewallPolicy
      parameters:
      - $ref: '#/components/parameters/id'
      responses:
        '200':
          description: OK
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
      - BearerAuth: []
  /ip-firewall-policies/{id}/ip-firewall-rule/:attach:
    post:
      tags:
      - Configuration - Policy
      summary: Attach IP Firewall Rule to IP Firewall policy
      description: Attach IP Firewall Rule to a IP Firewall policy.
      externalDocs:
        description: API Reference
        url: https://extremecloudiq.com/api-docs/api-reference.html#_attach_ip_firewall_rule_to_ip_firewall_policy
      operationId: attachIpFirewallRuleToIpFirewallPolicy
      parameters:
      - $ref: '#/components/parameters/id'
      requestBody:
        description: The IP Firewall rule to be attached to the IP Firewall policy.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/XiqAttachIpFirewallRuleToIpFirewallPolicy'
        required: true
      responses:
        '200':
          description: OK
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
      - BearerAuth: []
  /ip-firewall-policies/{id}/ip-firewall-rule/:detach:
    post:
      tags:
      - Configuration - Policy
      summary: Detach IP Firewall Rule from IP Firewall policy
      description: Detach IP Firewall Rule from a IP Firewall policy.
      externalDocs:
        description: API Reference
        url: https://extremecloudiq.com/api-docs/api-reference.html#_detach_ip_firewall_rule_from_ip_firewall_policy
      operationId: detachIpFirewallRuleFromIpFirewallPolicy
      parameters:
      - $ref: '#/components/parameters/id'
      requestBody:
        description: The IP Firewall Rule ID to be detached from the IP Firewall policy.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/XiqIpFirewallRuleId'
        required: true
      responses:
        '200':
          description: OK
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
      - BearerAuth: []
  /mac-firewall-policies:
    get:
      tags:
      - Configuration - Policy
      summary: List MAC Firewall policies
      description: List a page of MAC Firewall policies.
      externalDocs:
        description: API Reference
        url: https://extremecloudiq.com/api-docs/api-reference.html#_list_mac_firewall_policies
      operationId: listMacFirewallPolicies
      parameters:
      - $ref: '#/components/parameters/page'
      - $ref: '#/components/parameters/limit'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PagedMacFirewall'
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
      - BearerAuth: []
    post:
      tags:
      - Configuration - Policy
      summary: Create MAC Firewall Policy
      description: Create a new MAC Firewall policy.
      externalDocs:
        description: API Reference
        url: https://extremecloudiq.com/api-docs/api-reference.html#_create_mac_firewall_policy
      operationId: createMacFirewallPolicy
      requestBody:
        description: The payload to create a new Mac Firewall policy.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/XiqMacFirewallPolicyRequest'
        required: true
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/XiqMacFirewall'
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
      - BearerAuth: []
  /mac-firewall-policies/{id}:
    get:
      tags:
      - Configuration - Policy
      summary: Get MAC Firewall Policy by ID
      description: Get an existing MAC Firewall policy by the specified ID.
      externalDocs:
        description: API Reference
        url: https://extremecloudiq.com/api-docs/api-reference.html#_get_mac_firewall_policy_by_id
      operationId: getMacFirewallPolicy
      parameters:
      - $ref: '#/components/parameters/id'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/XiqMacFirewall'
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
      - BearerAuth: []
    put:
      tags:
      - Configuration - Policy
      summary: Update MAC Firewall policy by ID
      description: Update an existing MAC Firewall policy by the specified ID.
      externalDocs:
        description: API Reference
        url: https://extremecloudiq.com/api-docs/api-reference.html#_update_mac_firewall_policy_by_id
      operationId: updateMacPolicyRequest
      parameters:
      - $ref: '#/components/parameters/id'
      requestBody:
        description: The payload of the update MAC Firewall policy request.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/XiqMacFirewallPolicyRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/XiqMacFirewall'
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
      - BearerAuth: []
    delete:
      tags:
      - Configuration - Policy
      summary: Delete MAC Firewall policy by ID
      description: Delete an existing MAC Firewall policy by the specified ID.
      externalDocs:
        description: API Reference
        url: https://extremecloudiq.com/api-docs/api-reference.html#_delete_mac_firewall_policy_by_id
      operationId: deleteMacFirewallPolicy
      parameters:
      - $ref: '#/components/parameters/id'
      responses:
        '200':
          description: OK
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
      - BearerAuth: []
  /mac-object-profiles:
    get:
      tags:
      - Configuration - Policy
      summary: List MAC objects
      description: List a page of MAC objects.
      externalDocs:
        description: API Reference
        url: https://extremecloudiq.com/api-docs/api-reference.html#_list_mac_objects
      operationId: listMacObjects
      parameters:
      - name: macType
        in: query
        description: The MAC object type
        required: true
        schema:
          $ref: '#/components/schemas/XiqMacObjectType'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PagedXiqMacObject'
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
      - BearerAuth: []
    post:
      tags:
      - Configuration - Policy
      summary: Create MAC object
      description: Create a new MAC object.
      externalDocs:
        description: API Reference
        url: https://extremecloudiq.com/api-docs/api-reference.html#_create_mac_object
      operationId: createMacObject
      requestBody:
        description: The request body to create new MAC object.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/XiqCreateMacObjectRequest'
        required: true
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/XiqMacObject'
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
      - BearerAuth: []
  /mac-object-profiles/{id}:
    get:
      tags:
      - Configuration - Policy
      summary: Get MAC object by ID
      description: Get an existing MAC object by the specified ID.
      externalDocs:
        description: API Reference
        url: https://extremecloudiq.com/api-docs/api-reference.html#_get_mac_object_by_id
      operationId: getMacObject
      parameters:
      - $ref: '#/components/parameters/id'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/XiqMacObject'
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
      - BearerAuth: []
    put:
      tags:
      - Configuration - Policy
      summary: Update MAC object by ID
      description: Update an existing MAC object by the specified ID.
      externalDocs:
        description: API Reference
        url: https://extremecloudiq.com/api-docs/api-reference.html#_update_mac_object_by_id
      operationId: updateMacObject
      parameters:
      - $ref: '#/components/parameters/id'
      requestBody:
        description: The payload of the update MAC object request.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/XiqUpdateMacObjectRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/XiqMacObject'
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
      - BearerAuth: []
    delete:
      tags:
      - Configuration - Policy
      summary: Delete MAC object by ID
      description: Delete an existing MAC object by the specified ID.
      externalDocs:
        description: API Reference
        url: https://extremecloudiq.com/api-docs/api-reference.html#_delete_mac_object_by_id
      operationId: deleteMacObject
      parameters:
      - $ref: '#/components/parameters/id'
      responses:
        '200':
          description: OK
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
      - BearerAuth: []
  /mac-firewall-policies/{id}/mac-firewall-rule/:attach:
    post:
      tags:
      - Configuration - Policy
      summary: Attach MAC Firewall Rule to MAC Firewall policy
      description: Attach MAC Firewall Rule to a MAC Firewall policy.
      externalDocs:
        description: API Reference
        url: https://extremecloudiq.com/api-docs/api-reference.html#_attach_mac_firewall_rule_to_mac_firewall_policy
      operationId: attachMacFirewallRuleToMacFirewallPolicy
      parameters:
      - $ref: '#/components/parameters/id'
      requestBody:
        description: The MAC Firewall rule to be attached to the MAC Firewall policy.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/XiqAttachMacFirewallRuleToMacFirewallPolicy'
        required: true
      responses:
        '200':
          description: OK
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
      - BearerAuth: []
  /mac-firewall-policies/{id}/mac-firewall-rule/:detach:
    post:
      tags:
      - Configuration - Policy
      summary: Detach MAC Firewall Rule from IP Firewall policy
      description: Detach MAC Firewall Rule from a IP Firewall policy.
      externalDocs:
        description: API Reference
        url: https://extremecloudiq.com/api-docs/api-reference.html#_detach_mac_firewall_rule_from_mac_firewall_policy
      operationId: detachMacFirewallRuleFromMacFirewallPolicy
      parameters:
      - $ref: '#/components/parameters/id'
      requestBody:
        description: The MAC Firewall rule to be detached from the MAC Firewall policy.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/XiqMacFirewallRuleId'
        required: true
      responses:
        '200':
          description: OK
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
      - BearerAuth: []
  /radio-profiles:
    get:
      tags:
      - Configuration - Policy
      summary: List radio profiles
      description: List a page of radio profiles.
      externalDocs:
        description: API Reference
        url: https://extremecloudiq.com/api-docs/api-reference.html#_list_the_radio_profiles
      operationId: listRadioProfiles
      parameters:
      - $ref: '#/components/parameters/page'
      - $ref: '#/components/parameters/limit'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PagedXiqRadioProfile'
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
      - BearerAuth: []
    post:
      tags:
      - Configuration - Policy
      summary: Create a radio profile
      description: Create a new radio profile.
      externalDocs:
        description: API Reference
        url: https://extremecloudiq.com/api-docs/api-reference.html#_create_radio_profile_configuration
      operationId: createRadioProfile
      requestBody:
        description: The request body to create new user profile.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/XiqCreateRadioProfileRequest'
        required: true
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/XiqRadioProfile'
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
      - BearerAuth: []
  /radio-profiles/{id}:
    get:
      tags:
      - Configuration - Policy
      summary: Get radio profile by ID
      description: Get radio profile details for the specified ID.
      externalDocs:
        description: API Reference
        url: https://extremecloudiq.com/api-docs/api-reference.html#_get_radio_profile_by_id
      operationId: getRadioProfile
      parameters:
      - $ref: '#/components/parameters/id'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/XiqRadioProfile'
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
      - BearerAuth: []
    put:
      tags:
      - Configuration - Policy
      summary: Update radio profile by ID
      description: Update the existing radio profile by the profile ID.
      externalDocs:
        description: API Reference
        url: https://extremecloudiq.com/api-docs/api-reference.html#_update_radio_profile_configuration
      operationId: updateRadioProfile
      parameters:
      - $ref: '#/components/parameters/id'
      requestBody:
        description: The payload of the update radio profile request.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/XiqUpdateRadioProfileRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/XiqRadioProfile'
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
      - BearerAuth: []
    delete:
      tags:
      - Configuration - Policy
      summary: Delete radio profile by ID
      description: Delete the existing radio profile by the profile ID.
      externalDocs:
        description: API Reference
        url: https://extremecloudiq.com/api-docs/api-reference.html#_delete_radio_profile_configuration
      operationId: deleteRadioProfile
      parameters:
      - $ref: '#/components/parameters/id'
      responses:
        '200':
          description: OK
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
      - BearerAuth: []
  /radio-profiles/channel-selection/{id}:
    get:
      tags:
      - Configuration - Policy
      summary: Get channel selection settings
      description: Get the channel selection settings belonging to a radio profile.
      externalDocs:
        description: API Reference
        url: https://extremecloudiq.com/api-docs/api-reference.html#_get_radio_profile_channel_selection_by_id
      operationId: getRpChannelSelection
      parameters:
      - $ref: '#/components/parameters/id'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/XiqRpChannelSelection'
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
      - BearerAuth: []
    put:
      tags:
      - Configuration - Policy
      summary: Update channel selection settings
      description: Update the channel selection settings belonging to a radio profile.
      externalDocs:
        description: API Reference
        url: https://extremecloudiq.com/api-docs/api-reference.html#_update_radio_profile_channel_selection_by_id
      operationId: updateRpChannelSelection
      parameters:
      - $ref: '#/components/parameters/id'
      requestBody:
        description: The payload of the update channel selection settings request.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/XiqUpdateRpChannelSelectionRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/XiqRpChannelSelection'
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
      - BearerAuth: []
  /radio-profiles/mac-ouis:
    get:
      tags:
      - Configuration - Policy
      summary: List MAC OUI profiles
      description: List a page of MAC OUI profiles.
      externalDocs:
        description: API Reference
        url: https://extremecloudiq.com/api-docs/api-reference.html#_list_mac_oui_profiles
      operationId: listRpMacOuiProfiles
      parameters:
      - $ref: '#/components/parameters/page'
      - $ref: '#/components/parameters/limit'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PagedXiqRpMacOuiProfile'
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
      - BearerAuth: []
    post:
      tags:
      - Configuration - Policy
      summary: Create a MAC OUI profile
      description: Create a new MAC OUI profile for radio usage optimization.
      externalDocs:
        description: API Reference
        url: https://extremecloudiq.com/api-docs/api-reference.html#_create_mac_oui_profile_configuration
      operationId: createMacOuiProfile
      requestBody:
        description: The request body to create new user profile.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/XiqCreateRpMacOuiProfileRequest'
        required: true
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/XiqRpMacOuiProfile'
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
      - BearerAuth: []
  /radio-profiles/mac-ouis/{id}:
    get:
      tags:
      - Configuration - Policy
      summary: Get MAC OUI profile
      description: Get the MAC OUI profile belonging the radio optimization settings.
      externalDocs:
        description: API Reference
        url: https://extremecloudiq.com/api-docs/api-reference.html#_get_mac_oui_profile_by_id
      operationId: getRpMacOuiProfile
      parameters:
      - $ref: '#/components/parameters/id'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/XiqRpMacOuiProfile'
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
      - BearerAuth: []
    put:
      tags:
      - Configuration - Policy
      summary: Update MAC OUI profile
      description: Update the existing MAC OUI profile for radio usage optimization.
      externalDocs:
        description: API Reference
        url: https://extremecloudiq.com/api-docs/api-reference.html#_update_mac_oui_profile_by_id
      operationId: updateRpMacOuiProfile
      parameters:
      - $ref: '#/components/parameters/id'
      requestBody:
        description: The payload of the update MAC OUI profile request.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/XiqUpdateRpMacOuiProfileRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/XiqRpMacOuiProfile'
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
      - BearerAuth: []
    delete:
      tags:
      - Configuration - Policy
      summary: Delete MAC OUI profile
      description: Delete the existing MAC OUI profile for radio usage optimization.
      externalDocs:
        description: API Reference
        url: https://extremecloudiq.com/api-docs/api-reference.html#_delete_mac_oui_profile_by_id
      operationId: deleteRpMacOuiProfile
      parameters:
      - $ref: '#/components/parameters/id'
      responses:
        '200':
          description: OK
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
      - BearerAuth: []
  /radio-profiles/miscellaneous/{id}:
    get:
      tags:
      - Configuration - Policy
      summary: Get radio miscellaneous settings
      description: Get the radio miscellaneous settings belonging to a radio profile.
      externalDocs:
        description: API Reference
        url: https://extremecloudiq.com/api-docs/api-reference.html#_get_radio_miscellaneous_settings_by_id
      operationId: getRpMiscellaneousSettings
      parameters:
      - $ref: '#/components/parameters/id'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/XiqRpMiscellaneousSettings'
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
      - BearerAuth: []
    put:
      tags:
      - Configuration - Policy
      summary: Update radio miscellaneous settings
      description: Update the radio miscellaneous settings belonging to a radio profile.
      externalDocs:
        description: API Reference
        url: https://extremecloudiq.com/api-docs/api-reference.html#_update_radio_miscellaneous_settings_by_id
      operationId: updateRpMiscellaneousSettings
      parameters:
      - $ref: '#/components/parameters/id'
      requestBody:
        description: The payload of the update radio miscellaneous settings request.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/XiqUpdateRpMiscellaneousSettingsRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/XiqRpMiscellaneousSettings'
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
      - BearerAuth: []
  /radio-profiles/neighborhood-analysis/{id}:
    get:
      tags:
      - Configuration - Policy
      summary: Get neighborhood analysis settings
      description: Get the neighborhood analysis settings belonging to a radio profile.
      externalDocs:
        description: API Reference
        url: https://extremecloudiq.com/api-docs/api-reference.html#_get_radio_profile_neighborhood_analysis_by_id
      operationId: getNeighborhoodAnalysis
      parameters:
      - $ref: '#/components/parameters/id'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/XiqRpNeighborhoodAnalysis'
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
      - BearerAuth: []
    put:
      tags:
      - Configuration - Policy
      summary: Update neighborhood analysis settings
      description: Update the neighborhood analysis settings belonging to a radio profile.
      externalDocs:
        description: API Reference
        url: https://extremecloudiq.com/api-docs/api-reference.html#_update_radio_profile_neighborhood_analysis_by_id
      operationId: updateNeighborhoodAnalysis
      parameters:
      - $ref: '#/components/parameters/id'
      requestBody:
        description: The payload of the update neighborhood analysis settings request.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/XiqUpdateRpNeighborhoodAnalysisRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/XiqRpNeighborhoodAnalysis'
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
      - BearerAuth: []
  /radio-profiles/radio-usage-opt/{id}:
    get:
      tags:
      - Configuration - Policy
      summary: Get radio usage optimization settings
      description: Get the radio usage optimization settings belonging to a radio profile.
      externalDocs:
        description: API Reference
        url: https://extremecloudiq.com/api-docs/api-reference.html#_get_radio_usage_optimization_by_id
      operationId: getRpRadioUsageOptimization
      parameters:
      - $ref: '#/components/parameters/id'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/XiqRpRadioUsageOptimization'
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
      - BearerAuth: []
    put:
      tags:
      - Configuration - Policy
      summary: Update radio usage optimization settings
      description: Update the radio usage optimization settings belonging to a radio profile.
      externalDocs:
        description: API Reference
        url: https://extremecloudiq.com/api-docs/api-reference.html#_update_radio_usage_optimization_by_id
      operationId: updateRpRadioUsageOptimization
      parameters:
      - $ref: '#/components/parameters/id'
      requestBody:
        description: The payload of the update radio usage optimization settings request.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/XiqUpdateRpRadioUsageOptimizationRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/XiqRpRadioUsageOptimization'
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
      - BearerAuth: []
  /radio-profiles/sensor-scan/{id}:
    get:
      tags:
      - Configuration - Policy
      summary: Get sensor scan settings
      description: Get the sensor scan settings belonging to a radio profile.
      externalDocs:
        description: API Reference
        url: https://extremecloudiq.com/api-docs/api-reference.html#_get_sensor_scan_settings_by_id
      operationId: getRpSensorScanSettings
      parameters:
      - $ref: '#/components/parameters/id'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/XiqRpSensorScanSettings'
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
      - BearerAuth: []
    put:
      tags:
      - Configuration - Policy
      summary: Update sensor scan settings
      description: Update the sensor scan settings belonging to a radio profile.
      externalDocs:
        description: API Reference
        url: https://extremecloudiq.com/api-docs/api-reference.html#_update_sensor_scan_settings_by_id
      operationId: updateRpSensorScanSettings
      parameters:
      - $ref: '#/components/parameters/id'
      requestBody:
        description: The payload of the update sensor scan settings request.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/XiqUpdateRpSensorScanSettingsRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/XiqRpSensorScanSettings'
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
      - BearerAuth: []
  /radio-profiles/wmm-qos/{id}:
    get:
      tags:
      - Configuration - Policy
      summary: Get Wmm QoS settings
      description: Get the Wi-Fi Multimedia (WMM) QoS settings belonging to a radio profile.
      externalDocs:
        description: API Reference
        url: https://extremecloudiq.com/api-docs/api-reference.html#_get_wmm_qos_settings_by_id
      operationId: getRpWmmQosSettings
      parameters:
      - $ref: '#/components/parameters/id'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/XiqRpWmmQosSettings'
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
      - BearerAuth: []
    put:
      tags:
      - Configuration - Policy
      summary: Update Wmm QoS settings
      description: Update the Wi-Fi Multimedia (WMM) QoS settings belonging to a radio profile.
      externalDocs:
        description: API Reference
        url: https://extremecloudiq.com/api-docs/api-reference.html#_update_wmm_qos_settings_by_id
      operationId: updateRpWmmQosSettings
      parameters:
      - $ref: '#/components/parameters/id'
      requestBody:
        description: The payload of the update Wmm QoS settings request.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/XiqUpdateRpWmmQosSettingsRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/XiqRpWmmQosSettings'
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
      - BearerAuth: []
  /user-profiles:
    get:
      tags:
      - Configuration - Policy
      summary: List user profiles
      description: List a page of user profiles.
      externalDocs:
        description: API Reference
        url: https://extremecloudiq.com/api-docs/api-reference.html#_list_the_user_profiles
      operationId: listUserProfiles
      parameters:
      - $ref: '#/components/parameters/page'
      - $ref: '#/components/parameters/limit'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PagedXiqUserProfile'
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
      - BearerAuth: []
    post:
      tags:
      - Configuration - Policy
      summary: Create a user profile
      description: Create a new user profile.
      externalDocs:
        description: API Reference
        url: https://extremecloudiq.com/api-docs/api-reference.html#_create_user_profile_configuration
      operationId: createUserProfile
      requestBody:
        description: The request body to create new user profile.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/XiqCreateUserProfileRequest'
        required: true
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/XiqUserProfile'
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
      - BearerAuth: []
  /user-profiles/{id}:
    get:
      tags:
      - Configuration - Policy
      summary: Get user profile by ID
      description: Get user profile details for the specified ID.
      externalDocs:
        description: API Reference
        url: https://extremecloudiq.com/api-docs/api-reference.html#_get_user_profile_by_id
      operationId: getUserProfile
      parameters:
      - $ref: '#/components/parameters/id'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/XiqUserProfile'
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
      - BearerAuth: []
    put:
      tags:
      - Configuration - Policy
      summary: Update user profile
      description: Update an existing user profile.
      externalDocs:
        description: API Reference
        url: https://extremecloudiq.com/api-docs/api-reference.html#_update_user_profile_configuration
      operationId: updateCoUserProfile
      parameters:
      - $ref: '#/components/parameters/id'
      requestBody:
        description: The payload of user profile.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/XiqUpdateUserProfileRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/XiqUserProfile'
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
      - BearerAuth: []
    delete:
      tags:
      - Configuration - Policy
      summary: Delete an user profile by ID
      description: Delete an existing user profile by ID.
      externalDocs:
        description: API Reference
        url: https://extremecloudiq.com/api-docs/api-reference.html#_delete_user_profile_configuration
      operationId: deleteCoUserProfile
      parameters:
      - $ref: '#/components/parameters/id'
      responses:
        '200':
          description: OK
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
      - BearerAuth: []
  /user-profile-assignments:
    get:
      tags:
      - Configuration - Policy
      summary: List User Profile Assignments
      description: List a page of User Profile Assignments.
      externalDocs:
        description: API Reference
        url: https://extremecloudiq.com/api-docs/api-reference.html#list_user_profile_assignments
      operationId: listUserProfileAssignments
      parameters:
      - $ref: '#/components/parameters/page'
      - $ref: '#/components/parameters/limit'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PagedXiqUserProfileAssignment'
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
      - BearerAuth: []
    post:
      tags:
      - Configuration - Policy
      summary: Create User Profile Assignment
      description: Create User Profile Assignment.
      externalDocs:
        description: API Reference
        url: https://extremecloudiq.com/api-docs/api-reference.html#create_user_profile_assignment
      operationId: createUserProfileAssignment
      requestBody:
        description: The request body to create new User Profile Assignment object.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/XiqCreateUserProfileAssignmentRequest'
        required: true
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/XiqUserProfileAssignment'
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
      - BearerAuth: []
  /user-profile-assignments/{id}:
    get:
      tags:
      - Configuration - Policy
      summary: Get User Profile Assignment by ID
      description: Get an existing User Profile Assignment object by the specified ID.
      externalDocs:
        description: API Reference
        url: https://extremecloudiq.com/api-docs/api-reference.html#_get_user_profile_assignment_by_id
      operationId: getUpUserProfileAssignment
      parameters:
      - $ref: '#/components/parameters/id'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/XiqUserProfileAssignment'
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
      - BearerAuth: []
    delete:
      tags:
      - Configuration - Policy
      summary: Delete User Profile Assignment by ID
      description: Delete an existing User Profile Assignment by the specified ID.
      externalDocs:
        description: API Reference
        url: https://extremecloudiq.com/api-docs/api-reference.html#_delete_user_profile_assignment_by_id
      operationId: deleteUserProfileAssignment
      parameters:
      - $ref: '#/components/parameters/id'
      responses:
        '200':
          description: OK
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
      - BearerAuth: []
  /user-profiles/{id}/ip-firewall-policies/:attach:
    post:
      tags:
      - Configuration - Policy
      summary: Attach IP Firewall policy to User Profile
      description: Attach an IP Firewall policy to a User Profile.
      externalDocs:
        description: API Reference
        url: https://extremecloudiq.com/api-docs/api-reference.html#_attach_ip_firewall_policy_to_user_profile
      operationId: attachIpFirewallPolicyToUserProfile
      parameters:
      - $ref: '#/components/parameters/id'
      requestBody:
        description: The IP Firewall policy ID and traffic direction to be attached to the SSID.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/XiqAttachIpFirewallRequest'
        required: true
      responses:
        '200':
          description: OK
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
      - BearerAuth: []
  /user-profiles/{id}/ip-firewall-policies/:detach:
    post:
      tags:
      - Configuration - Policy
      summary: Detach IP Firewall policy from User Profile
      description: Detach an IP Firewall policy from a User Profile.
      externalDocs:
        description: API Reference
        url: https://extremecloudiq.com/api-docs/api-reference.html#_detach_ip_firewall_policy_from_user_profile
      operationId: detachIpFirewallPolicyFromUserProfile
      parameters:
      - $ref: '#/components/parameters/id'
      requestBody:
        description: The IP Firewall policy ID to be detached from User Profile.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/XiqDetachIpFirewallRequest'
        required: true
      responses:
        '200':
          description: OK
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
      - BearerAuth: []
  /user-profiles/{id}/mac-firewall-policies/:attach:
    post:
      tags:
      - Configuration - Policy
      summary: Attach MAC Firewall policy to User Profile
      description: Attach a MAC Firewall policy to a User Profile.
      externalDocs:
        description: API Reference
        url: https://extremecloudiq.com/api-docs/api-reference.html#_attach_mac_firewall_policy_to_user_profile
      operationId: attachMacFirewallPolicyToUserProfile
      parameters:
      - $ref: '#/components/parameters/id'
      requestBody:
        description: The MAC Firewall policy ID and traffic direction to be attached to the SSID.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/XiqAttachMacFirewallRequest'
        required: true
      responses:
        '200':
          description: OK
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
      - BearerAuth: []
  /user-profiles/{id}/mac-firewall-policies/:detach:
    post:
      tags:
      - Configuration - Policy
      summary: Detach MAC Firewall policy from User Profile
      description: Detach a MAC Firewall policy from a User Profile.
      externalDocs:
        description: API Reference
        url: https://extremecloudiq.com/api-docs/api-reference.html#_detach_mac_firewall_policy_from_user_profile
      operationId: detachMacFirewallPolicyFromUserProfile
      parameters:
      - $ref: '#/components/parameters/id'
      requestBody:
        description: The MAC Firewall policy ID and traffic direction to be detached from User Profile.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/XiqDetachMacFirewallRequest'
        required: true
      responses:
        '200':
          description: OK
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
      - BearerAuth: []
  /hotspot-profiles:
    get:
      tags:
      - Configuration - Policy
      summary: List Hotspot profiles
      description: List a page of Hotspot profiles.
      externalDocs:
        description: API Reference
        url: https://extremecloudiq.com/api-docs/api-reference.html#_list_the_hotspot_profiles
      operationId: listHotspotProfiles
      parameters:
      - $ref: '#/components/parameters/page'
      - $ref: '#/components/parameters/limit'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PagedXiqHotspotProfile'
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
      - BearerAuth: []
    post:
      tags:
      - Configuration - Policy
      summary: Create a Hotspot profile
      description: Create a new Hotspot profile.
      externalDocs:
        description: API Reference
        url: https://extremecloudiq.com/api-docs/api-reference.html#_create_hotspot_profile
      operationId: createHotspotProfile
      requestBody:
        description: The request body to create new Hotspot profile.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/XiqHotspotProfileRequest'
        required: true
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/XiqHotspotProfile'
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
      - BearerAuth: []
  /hotspot-profiles/{id}:
    get:
      tags:
      - Configuration - Policy
      summary: Get Hotspot profile by ID
      description: Get Hotspot profile for the specified ID.
      externalDocs:
        description: API Reference
        url: https://extremecloudiq.com/api-docs/api-reference.html#_get_hotspot_profile_by_id
      operationId: getHotspotProfile
      parameters:
      - $ref: '#/components/parameters/id'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/XiqHotspotProfile'
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
      - BearerAuth: []
    put:
      tags:
      - Configuration - Policy
      summary: Update Hotspot profile by ID
      description: Update the existing Hotspot profile by the profile ID.
      externalDocs:
        description: API Reference
        url: https://extremecloudiq.com/api-docs/api-reference.html#_update_hotspot_profile
      operationId: updateHotspotProfile
      parameters:
      - $ref: '#/components/parameters/id'
      requestBody:
        description: The payload of the update Hotspot profile request.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/XiqHotspotProfileRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/XiqHotspotProfile'
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
      - BearerAuth: []
    delete:
      tags:
      - Configuration - Policy
      summary: Delete Hotspot profile by ID
      description: Delete the existing Hotspot profile by the profile ID.
      externalDocs:
        description: API Reference
        url: https://extremecloudiq.com/api-docs/api-reference.html#_delete_hotspot_profile
      operationId: deleteHotspotProfile
      parameters:
      - $ref: '#/components/parameters/id'
      responses:
        '200':
          description: OK
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
      - BearerAuth: []
  /hotspot-service-profiler-profiles:
    get:
      tags:
      - Configuration - Policy
      summary: List Hotspot Service Provider profiles
      description: List a page of Hotspot Service Provider profiles.
      externalDocs:
        description: API Reference
        url: https://extremecloudiq.com/api-docs/api-reference.html#_list_the_hotspot_service_provider_profiles
      operationId: listHotspotServiceProviderProfiles
      parameters:
      - $ref: '#/components/parameters/page'
      - $ref: '#/components/parameters/limit'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PagedXiqHotspotServiceProviderProfile'
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
      - BearerAuth: []
    post:
      tags:
      - Configuration - Policy
      summary: Create a Hotspot Service Provider profile
      description: Create a Hotspot Service Provider profile.
      externalDocs:
        description: API Reference
        url: https://extremecloudiq.com/api-docs/api-reference.html#_create_hotspot_service_provider_profile
      operationId: createHotspotServiceProviderProfile
      requestBody:
        description: The request body to create new Hotspot Service Provider profile.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/XiqHotspotServiceProviderProfileRequest'
        required: true
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/XiqHotspotServiceProviderProfile'
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
      - BearerAuth: []
  /hotspot-service-provider-profiles/{id}:
    get:
      tags:
      - Configuration - Policy
      summary: Get Hotspot Service Provider profile by ID
      description: Get Hotspot Service Provider profile for the specified ID.
      externalDocs:
        description: API Reference
        url: https://extremecloudiq.com/api-docs/api-reference.html#_get_hotspot_service_provider_profile_by_id
      operationId: getHotspotServiceProviderProfile
      parameters:
      - $ref: '#/components/parameters/id'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/XiqHotspotServiceProviderProfile'
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
      - BearerAuth: []
    put:
      tags:
      - Configuration - Policy
      summary: Update Hotspot Service Provider profile by ID
      description: Update the existing Hotspot Service Provider profile by ID.
      externalDocs:
        description: API Reference
        url: https://extremecloudiq.com/api-docs/api-reference.html#_update_hotspot_service_provider_profile
      operationId: updateHotspotServiceProviderProfile
      parameters:
      - $ref: '#/components/parameters/id'
      requestBody:
        description: The payload of the update Hotspot Service Provider profile request.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/XiqHotspotServiceProviderProfileRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/XiqHotspotServiceProviderProfile'
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
      - BearerAuth: []
    delete:
      tags:
      - Configuration - Policy
      summary: Delete Hotspot Service Provider profile by ID
      description: Delete the existing Hotspot Service Provider profile by ID.
      externalDocs:
        description: API Reference
        url: https://extremecloudiq.com/api-docs/api-reference.html#_delete_hotspot_service_provider_profile
      operationId: deleteHotspotServiceProviderProfile
      parameters:
      - $ref: '#/components/parameters/id'
      responses:
        '200':
          description: OK
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
      - BearerAuth: []
  /ssids:
    get:
      tags:
      - Configuration - Policy
      summary: List SSIDs
      description: List SSIDs with filter and pagination.
      externalDocs:
        description: API Reference
        url: https://extremecloudiq.com/api-docs/api-reference.html#_list_ssids
      operationId: listSsids
      parameters:
      - $ref: '#/components/parameters/page'
      - $ref: '#/components/parameters/limit'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PagedXiqSsid1'
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
      - BearerAuth: []
  /ssids/{id}/:rename:
    post:
      tags:
      - Configuration - Policy
      summary: Rename SSID (Wireless name)
      description: Change SSID broadcast name (Wireless name).
      externalDocs:
        description: API Reference
        url: https://extremecloudiq.com/api-docs/api-reference.html#_rename_ssidwireless_name
      operationId: renameSsid
      parameters:
      - $ref: '#/components/parameters/id'
      requestBody:
        description: The new SSID name
        content:
          application/json:
            schema:
              type: string
        required: true
      responses:
        '200':
          description: OK
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
      - BearerAuth: []
  /ssids/{id}/cwp/:attach:
    post:
      tags:
      - Configuration - Policy
      summary: Attach CWP to an SSID
      description: Attach CWP to an SSID.
      externalDocs:
        description: API Reference
        url: https://extremecloudiq.com/api-docs/api-reference.html#_attach_cwp_to_an_ssid
      operationId: attachCwpToSsid
      parameters:
      - $ref: '#/components/parameters/id'
      requestBody:
        description: The CWP ID to be attached to the SSID. For CWP with only User Auth on Captive Web Portal enabled, please also attach a RADIUS server group or enable ExtremeCloud IQ Authentication Service.
        content:
          application/json:
            schema:
              type: integer
              format: int64
        required: true
      responses:
        '200':
          description: OK
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
      - BearerAuth: []
  /ssids/{id}/cwp/:enable:
    post:
      tags:
      - Configuration - Policy
      summary: Enable and attach the CWP on the SSID
      description: Enable and attach the CWP on the SSID.
      externalDocs:
        description: API Reference
        url: https://extremecloudiq.com/api-docs/api-reference.html#_enable_and_attach_the_cwp_on_the_ssid
      operationId: enableSsidCwp
      parameters:
      - $ref: '#/components/parameters/id'
      requestBody:
        description: The new CWP ID.  For CWP with only User Auth on Captive Web Portal enabled, please also attach a RADIUS server group or enable ExtremeCloud IQ Authentication Service.
        content:
          application/json:
            schema:
              type: integer
              format: int64
        required: true
      responses:
        '200':
          description: OK
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
      - BearerAuth: []
  /ssids/{id}/cwp/:disable:
    post:
      tags:
      - Configuration - Policy
      summary: Disable the CWP on the SSID
      description: Disable the CWP on the SSID.
      externalDocs:
        description: API Reference
        url: https://extremecloudiq.com/api-docs/api-reference.html#_disable_and_detach_the_cwp_on_the_ssid
      operationId: disableSsidCwp
      parameters:
      - $ref: '#/components/parameters/id'
      responses:
        '200':
          description: OK
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
      - BearerAuth: []
  /ssids/{id}/mode/dot1x:
    put:
      tags:
      - Configuration - Policy
      summary: Change the SSID mode to 802.1x and Authentication
      description: Change the SSID mode to 802.1x.
      externalDocs:
        description: API Reference
        url: https://extremecloudiq.com/api-docs/api-reference.html#_set_ssid_mode_to_dot1x
      operationId: setSsidModeDot1x
      parameters:
      - $ref: '#/components/parameters/id'
      requestBody:
        description: The payload to change the SSID mode to 802.1x and set the Authentication settings
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/XiqSetSsidModeDot1xRequest'
        required: true
      responses:
        '200':
          description: OK
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
      - BearerAuth: []
  /ssids/{id}/mode/open:
    put:
      tags:
      - Configuration - Policy
      summary: Change the SSID mode to open access
      description: Change the SSID mode to open access.
      externalDocs:
        description: API Reference
        url: https://extremecloudiq.com/api-docs/api-reference.html#_set_ssid_mode_to_open_access
      operationId: setSsidModeOpen
      parameters:
      - $ref: '#/components/parameters/id'
      responses:
        '200':
          description: OK
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
      - BearerAuth: []
  /ssids/{id}/mode/psk:
    put:
      tags:
      - Configuration - Policy
      summary: Change the SSID mode to PSK
      description: Change the SSID mode to PSK.
      externalDocs:
        description: API Reference
        url: https://extremecloudiq.com/api-docs/api-reference.html#_set_ssid_mode_to_psk
      operationId: setSsidModePsk
      parameters:
      - $ref: '#/components/parameters/id'
      requestBody:
        description: The payload to change the SSID mode to PSK
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/XiqSetSsidModePskRequest'
        required: true
      responses:
        '200':
          description: OK
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
      - BearerAuth: []
  /ssids/{id}/mode/ppsk:
    put:
      tags:
      - Configuration - Policy
      summary: Change the SSID mode to PPSK
      description: Change the SSID mode to PPSK.
      externalDocs:
        description: API Reference
        url: https://extremecloudiq.com/api-docs/api-reference.html#_set_ssid_mode_to_ppsk
      operationId: setSsidModePpsk
      parameters:
      - $ref: '#/components/parameters/id'
      requestBody:
        description: The payload to change the SSID mode to PPSK
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/XiqSetSsidModePpskRequest'
        required: true
      responses:
        '200':
          description: OK
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
      - BearerAuth: []
  /ssids/{id}/mode/wep:
    put:
      tags:
      - Configuration - Policy
      summary: Change the SSID mode to WEP
      description: Change the SSID mode to WEP.
      externalDocs:
        description: API Reference
        url: https://extremecloudiq.com/api-docs/api-reference.html#_set_ssid_mode_to_wep
      operationId: setSsidModeWep
      parameters:
      - $ref: '#/components/parameters/id'
      requestBody:
        description: The payload to change the SSID mode to WEP
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/XiqSetSsidModeWepRequest'
        required: true
      responses:
        '200':
          description: OK
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
      - BearerAuth: []
  /ssids/{id}/psk/password:
    put:
      tags:
      - Configuration - Policy
      summary: Change the SSID PSK password
      description: Change the SSID PSK password.
      externalDocs:
        description: API Reference
        url: https://extremecloudiq.com/api-docs/api-reference.html#_change_the_ssid_psk_password
      operationId: changePskPassword
      parameters:
      - $ref: '#/components/parameters/id'
      requestBody:
        description: The new SSID PSK password
        content:
          application/json:
            schema:
              type: string
        required: true
      responses:
        '200':
          description: OK
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
      - BearerAuth: []
  /ssids/{id}/radius-server-group/:attach:
    post:
      tags:
      - Configuration - Policy
      summary: Attach radius server group to an SSID
      description: Attach radius server group to an SSID.
      externalDocs:
        description: API Reference
        url: https://extremecloudiq.com/api-docs/api-reference.html#_attach_radius_server_group_to_an_ssid
      operationId: attachRadiusServerGroupToSsid
      parameters:
      - $ref: '#/components/parameters/id'
      requestBody:
        description: The radius server group ID to be attached to the SSID
        content:
          application/json:
            schema:
              type: integer
              format: int64
        required: true
      responses:
        '200':
          description: OK
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
      - BearerAuth: []
  /ssids/{id}/radius-client-profile/:attach:
    post:
      tags:
      - Configuration - Policy
      summary: Attach RADIUS client profile to an SSID
      description: Attach RADIUS client profile to an SSID.
      externalDocs:
        description: API Reference
        url: https://extremecloudiq.com/api-docs/api-reference.html#_attach_radius_client_profile_to_an_ssid
      operationId: attachRadiusClientProfileToSsid
      parameters:
      - $ref: '#/components/parameters/id'
      requestBody:
        description: The RADIUS client profile ID to be attached to the SSID
        content:
          application/json:
            schema:
              type: integer
              format: int64
        required: true
      responses:
        '200':
          description: OK
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
      - BearerAuth: []
  /ssids/{id}/user-profile-assignments/:attach:
    post:
      tags:
      - Configuration - Policy
      summary: Attach User Profile Assignment to SSID
      description: Attach User Profile Assignment to an SSID.
      externalDocs:
        description: API Reference
        url: https://extremecloudiq.com/api-docs/api-reference.html#_attach_user_profile_assignment_to_ssid
      operationId: attachUserProfileAssignmentToSsid
      parameters:
      - $ref: '#/components/parameters/id'
      requestBody:
        description: "The User Profile ID and User Profile Assignment ID to be attached to the SSID. User Profile and User Profile Assignment IDs are added to a User Profile Assignment Rule List within the SSID. Will also set the necessary fields on the SSID to allow User Profile Assignment using RADIUS attributes:\n  'Apply a different user profile to various clients and user groups',\n  'Allow User profile assignment using RADIUS attributes in addition to the three tunnel RADIUS attributes' &\n  'Standard RADIUS Attribute' to 'Filter-Id'."
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/XiqAttachUPAssignmentRequest'
        required: true
      responses:
        '200':
          description: OK
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
      - BearerAuth: []
  /ssids/{id}/user-profile-assignments/:detach:
    post:
      tags:
      - Configuration - Policy
      summary: Detach User Profile Assignment from SSID
      description: Detach User Profile Assignment from an SSID.
      externalDocs:
        description: API Reference
        url: https://extremecloudiq.com/api-docs/api-reference.html#_detach_user_profile_assignment_from_ssid
      operationId: detachUserProfileAssignmentFromSsid
      parameters:
      - $ref: '#/components/parameters/id'
      requestBody:
        description: The User Profile ID and User Profile Assignment ID to be detached from the SSID.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/XiqDetachUPAssignmentRequest'
        required: true
      responses:
        '200':
          description: OK
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
      - BearerAuth: []
  /ssids/{id}/user-profile/:attach:
    post:
      tags:
      - Configuration - Policy
      summary: Attach user profile to an SSID
      description: Attach user profile to an SSID.
      externalDocs:
        description: API Reference
        url: https://extremecloudiq.com/api-docs/api-reference.html#_attach_user_profile_to_an_ssid
      operationId: attachUserProfileToSsid
      parameters:
      - $ref: '#/components/parameters/id'
      requestBody:
        description: The user profile ID to be attached to the SSID
        content:
          application/json:
            schema:
              type: integer
              format: int64
        required: true
      responses:
        '200':
          description: OK
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
      - BearerAuth: []
  /ssids/advanced-settings/{id}:
    get:
      tags:
      - Configuration - Policy
      summary: Get advanced settings for SSID
      description: Get the advanced settings belonging to a SSID profile.
      externalDocs:
        description: API Reference
        url: https://extremecloudiq.com/api-docs/api-reference.html#_get_ssid_advanced_settings_by_id
      operationId: getSsidAdvancedSettings
      parameters:
      - $ref: '#/components/parameters/id'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/XiqSsidAdvancedSettings'
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
      - BearerAuth: []
    put:
      tags:
      - Configuration - Policy
      summary: Update SSID advanced settings
      description: Update the advanced settings belonging to a SSID profile.
      externalDocs:
        description: API Reference
        url: https://extremecloudiq.com/api-docs/api-reference.html#_update_ssid_advanced_settings_by_id
      operationId: updateSsidAdvancedSettings
      parameters:
      - $ref: '#/components/parameters/id'
      requestBody:
        description: The payload of the update advanced settings request.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/XiqUpdateSsidAdvancedSettingsRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/XiqSsidAdvancedSettings'
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
      - BearerAuth: []
  /ssids/{id}/hotspot-profiles/:enable:
    post:
      tags:
      - Configuration - Policy
      summary: Enable and attach the Hotspot profile on the SSID
      description: Enable and attach the Hotspot profile on the SSID.
      externalDocs:
        description: API Reference
        url: https://extremecloudiq.com/api-docs/api-reference.html#_enable_and_attach_the_hotspot_on_the_ssid
      operationId: enableSsidHotspot
      parameters:
      - $ref: '#/components/parameters/id'
      requestBody:
        description: The Hotspot profile ID to be attached to the SSID.
        content:
          application/json:
            schema:
              type: integer
              format: int64
        required: true
      responses:
        '200':
          description: OK
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
      - BearerAuth: []
  /ssids/{id}/hotspots-profiles/:disable:
    post:
      tags:
      - Configuration - Policy
      summary: Disable the Hotspot profile on the SSID
      description: Disable the Hotspot profile on the SSID.
      externalDocs:
        description: API Reference
        url: https://extremecloudiq.com/api-docs/api-reference.html#_disable_and_detach_the_hotspot_on_the_ssid
      operationId: disableSsidHotspot
      parameters:
      - $ref: '#/components/parameters/id'
      responses:
        '200':
          description: OK
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
      - BearerAuth: []
  /ccgs:
    get:
      tags:
      - Configuration - Policy
      summary: '[LRO] List clould config groups'
      description: List a papge of cloud config groups.
      externalDocs:
        description: API Reference
        url: https://extremecloudiq.com/api-docs/api-reference.html#_list_cloud_config_groups
      operationId: listCloudConfigGroups
      parameters:
      - $ref: '#/components/parameters/page'
      - $ref: '#/components/parameters/limit'
      - $ref: '#/components/parameters/async'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PagedXiqCloudConfigGroup'
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
      - BearerAuth: []
    post:
      tags:
      - Configuration - Policy
      summary: Create new cloud config group
      description: Create a new cloud config group.
      externalDocs:
        description: API Reference
        url: https://extremecloudiq.com/api-docs/api-reference.html#_create_cloud_config_group
      operationId: createCloudConfigGroup
      requestBody:
        description: Create new cloud config group request body
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/XiqCreateCloudConfigGroupRequest'
        required: true
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/XiqCloudConfigGroup'
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
      - BearerAuth: []
  /ccgs/{id}:
    get:
      tags:
      - Configuration - Policy
      summary: Get a cloud config group
      description: Get cloud config group info for the specified ID.
      externalDocs:
        description: API Reference
        url: https://extremecloudiq.com/api-docs/api-reference.html#_get_cloud_config_group
      operationId: getCloudConfigGroup
      parameters:
      - $ref: '#/components/parameters/id'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/XiqCloudConfigGroup'
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
      - BearerAuth: []
    put:
      tags:
      - Configuration - Policy
      summary: Update cloud config group information
      description: Update the cloud config group details having the specified ID.
      externalDocs:
        description: API Reference
        url: https://extremecloudiq.com/api-docs/api-reference.html#_update_cloud_config_group
      operationId: updateCloudConfigGroup
      parameters:
      - $ref: '#/components/parameters/id'
      requestBody:
        description: Update cloud config group request body
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/XiqUpdateCloudConfigGroupRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/XiqCloudConfigGroup'
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
      - BearerAuth: []
    delete:
      tags:
      - Configuration - Policy
      summary: Delete a cloud config group
      description: Delete a specific cloud config group by ID.
      externalDocs:
        description: API Reference
        url: https://extremecloudiq.com/api-docs/api-reference.html#_delete_cloud_config_group
      operationId: deleteCloudConfigGroup
      parameters:
      - $ref: '#/components/parameters/id'
      responses:
        '200':
          description: OK
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
      - BearerAuth: []
  /iot-profiles:
    get:
      tags:
      - Configuration - Policy
      summary: List IoT profiles
      description: List a page of IoT profiles.
      externalDocs:
        description: API Reference
        url: https://extremecloudiq.com/api-docs/api-reference.html#_list_the_iot_profiles
      operationId: listIotProfiles
      parameters:
      - $ref: '#/components/parameters/page'
      - $ref: '#/components/parameters/limit'
      - name: appSupported
        in: query
        description: IoT profile app supported type
        required: false
        schema:
          $ref: '#/components/schemas/XiqIotApplicationSupported'
      - name: appId
        in: query
        description: IoT profile app ID type
        required: false
        schema:
          $ref: '#/components/schemas/XiqIotApplicationId'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PagedXiqIotProfile'
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
      - BearerAuth: []
    post:
      tags:
      - Configuration - Policy
      summary: Create an IoT profile
      description: Create a new IoT profile.
      externalDocs:
        description: API Reference
        url: https://extremecloudiq.com/api-docs/api-reference.html#_create_iot_profile_configuration
      operationId: createIotProfile
      requestBody:
        description: The request body to create new IoT profile.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/XiqIotProfileRequest'
        required: true
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/XiqIotProfile'
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
      - BearerAuth: []
  /iot-profiles/{id}:
    get:
      tags:
      - Configuration - Policy
      summary: Get IoT profile by ID
      description: Get IoT profile details for the specified ID.
      externalDocs:
        description: API Reference
        url: https://extremecloudiq.com/api-docs/api-reference.html#_get_iot_profile_by_id
      operationId: getIotProfile
      parameters:
      - $ref: '#/components/parameters/id'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/XiqIotProfile'
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
      - BearerAuth: []
    put:
      tags:
      - Configuration - Policy
      summary: Update IoT profile by ID
      description: Update the existing IoT profile by the profile ID.
      externalDocs:
        description: API Reference
        url: https://extremecloudiq.com/api-docs/api-reference.html#_update_iot_profile_configuration
      operationId: updateIotProfile
      parameters:
      - $ref: '#/components/parameters/id'
      requestBody:
        description: The payload of the update IoT profile request.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/XiqIotProfileRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/XiqIotProfile'
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
      - BearerAuth: []
    delete:
      tags:
      - Configuration - Policy
      summary: Delete IoT profile by ID
      description: Delete the existing IoT profile by the profile ID.
      externalDocs:
        description: API Reference
        url: https://extremecloudiq.com/api-docs/api-reference.html#_delete_iot_profile_configuration
      operationId: deleteIotProfile
      parameters:
      - $ref: '#/components/parameters/id'
      responses:
        '200':
          description: OK
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
      - BearerAuth: []
  /client-monitor-profiles:
    get:
      tags:
      - Configuration - Policy
      summary: List client monitor profiles
      description: List a page of client monitor profiles.
      externalDocs:
        description: API Reference
        url: https://extremecloudiq.com/api-docs/api-reference.html#_list_client_monitor_profiles
      operationId: listClientMonitorProfiles
      parameters:
      - $ref: '#/components/parameters/page'
      - $ref: '#/components/parameters/limit'
      - name: sortField
        in: query
        description: Sort field. Available values - NAME
        required: false
        schema:
          type: string
          enum:
          - NAME
      - $ref: '#/components/parameters/order'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PagedXiqClientMonitorProfile'
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
      - BearerAuth: []
    post:
      tags:
      - Configuration - Policy
      summary: Create a client monitor profile
      description: Create a new client monitor profile.
      externalDocs:
        description: API Reference
        url: https://extremecloudiq.com/api-docs/api-reference.html#_create_client_monitor_profile
      operationId: createClientMonitorProfile
      requestBody:
        description: The request body to create new client monitor profile
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/XiqClientMonitorProfileRequest'
        required: true
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/XiqClientMonitorProfile'
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
      - BearerAuth: []
  /client-monitor-profiles/{id}:
    get:
      tags:
      - Configuration - Policy
      summary: Get a client monitor profile by ID
      description: Get client monitor profile details for the specified ID.
      externalDocs:
        description: API Reference
        url: https://extremecloudiq.com/api-docs/api-reference.html#_get_client_monitor_profile
      operationId: getClientMonitorPolicy
      parameters:
      - $ref: '#/components/parameters/id'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/XiqClientMonitorProfile'
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
      - BearerAuth: []
    put:
      tags:
      - Configuration - Policy
      summary: Update client monitor profile by ID
      description: Update an existing client monitor profile.
      externalDocs:
        description: API Reference
        url: https://extremecloudiq.com/api-docs/api-reference.html#_update_client_monitor_profile
      operationId: updateClientMonitorPolicy
      parameters:
      - $ref: '#/components/parameters/id'
      requestBody:
        description: The payload of client monitor profile.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/XiqClientMonitorProfileRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/XiqClientMonitorProfile'
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
      - BearerAuth: []
    delete:
      tags:
      - Configuration - Policy
      summary: Delete a client monitor profile by ID
      description: Delete an existing client monitor profile by ID.
      externalDocs:
        description: API Reference
        url: https://extremecloudiq.com/api-docs/api-reference.html#_delete_client_monitor_profile
      operationId: deleteClientMonitorProfile
      parameters:
      - $ref: '#/components/parameters/id'
      responses:
        '200':
          description: OK
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
      - BearerAuth: []
  /ssids/{id}/client-monitor-profile/:attach:
    post:
      tags:
      - Configuration - Policy
      summary: Attach client monitor profile to an SSID
      description: Attach client monitor profile to an SSID.
      externalDocs:
        description: API Reference
        url: https://extremecloudiq.com/api-docs/api-reference.html#_attach_client_monitor_profile_to_an_ssid
      operationId: attachClientMonitorProfileToSsid
      parameters:
      - $ref: '#/components/parameters/id'
      requestBody:
        description: The client monitor profile ID to be attached to the SSID
        content:
          application/json:
            schema:
              type: integer
              format: int64
        required: true
      responses:
        '200':
          description: OK
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
      - BearerAuth: []
  /radio-operating-modes/{productType}:
    get:
      tags:
      - Configuration - Policy
      summary: Get AP Radio Operating Mode
      description: "Modern AP hardware types include dual or triple band radios.\nA limited subset of band combinations are supported.\nOperating mode defines the supported band combinations per radio.    \nAccess Points with fixed band radios use GENERIC operating mode.  \nSERVICE_2_5_6:   wifi0-2.4Ghz, wifi1-5Ghz, wifi2-6Ghz\nSENSOR_SERVICE_5_6: wifi0-Tri-band sensor, wifi1-5Ghz, wifi2-6Ghz\nSERVICE_5L_5H_6: wifi0-5G Low, wifi1-5G High, wifi2-6Ghz\nSENSOR_SERVICE_5_2: wifi0-Tri-band sensor, wifi1-5GHz, wifi2-2.4Ghz\nSERVICE_5L_5H_2: wifi0-5G Low, wifi1-5G High, wifi2-2.4Ghz\nSERVICE_6L_5_6H: wifi0-6G Low, wifi1-5GHz, wifi2-6Ghz.\nSERVICE_2_5H_5L: wifi0-2.4Ghz, wifi1-5G High, wifi2-5G Low."
      externalDocs:
        description: API Reference
        url: https://extremecloudiq.com/api-docs/api-reference.html#_get_radio_operating_mode
      operationId: getDeviceOperationMode
      parameters:
      - name: productType
        in: path
        description: Product/AP Model
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/XiqDeviceRadioModesSettings'
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
      - BearerAuth: []
components:
  schemas:
    PagedIpFirewall:
      allOf:
      - $ref: '#/components/schemas/XiqPage'
      - type: object
        properties:
          data:
            type: array
            description: The data in the current page
            items:
              $ref: '#/components/schemas/XiqIpFirewall'
    XiqIotProfile:
      allOf:
      - $ref: '#/components/schemas/XiqViqEntity'
      - $ref: '#/components/schemas/XiqIotProfileRequest'
    XiqL3AddressType:
      type: string
      description: Address type
      enum:
      - IP_ADDRESS
      - IP_SUBNET
      - IP_RANGE
      - HOST_NAME
      - WILDCARD_HOST_NAME
      - WILDCARD
    XiqUpdateRpNeighborhoodAnalysisRequest:
      type: object
      properties:
        enable_background_scan:
          type: boolean
          description: Whether background scan of neighboring devices is enabled
        background_scan_interval:
          maximum: 1440
          minimum: 1
          type: integer
          description: The background scan interval in the range of 1 to 1440 minutes
          format: int32
        enable_skip_scan_when_clients_connected:
          type: boolean
          description: Whether to skip background scan when devices have client connections
        enable_skip_scan_when_clients_in_power_save_mode:
          type: boolean
          description: Whether to skip background scan when connected devices are in power save mode
        enable_skip_scan_when_process_voice_traffic:
          type: boolean
          description: Whether to skip background scan when devices have network traffic with voice priority
    XiqExpirationActionType:
      type: string
      description: The Expiration Action to take, null if the account is never expired.
      enum:
      - SHOW_MESSAGE
      - REJECT_ACCESS
    XiqIotpMaBleScanApplication:
      type: object
      description: The BLE Scan application
      oneOf:
      - $ref: '#/components/schemas/XiqIotpMaBleScanIBeacon'
      - $ref: '#/components/schemas/XiqIotpMaBleScanEddystoneUrl'
      - $ref: '#/components/schemas/XiqIotpMaBleScanGeneric'
      discriminator:
        propertyName: app_type
        mapping:
          IBEACON: '#/components/schemas/XiqIotpMaBleScanIBeacon'
          EDDYSTONE_URL: '#/components/schemas/XiqIotpMaBleScanEddystoneUrl'
          GENERIC: '#/components/schemas/XiqIotpMaBleScanGeneric'
    XiqRecurrenceType:
      type: string
      enum:
      - EVERYDAY
      - WEEKDAY_RANGE
[...]
