openapi: 3.0.3
info:
  title: ExtremeCloud IQ Account Configuration - Authentication API
  description: 'ExtremeCloud IQ™ API allows customers and partners to create solutions for the management, monitoring, and provisioning

    of any ExtremeCloud IQ™ environment.


    All related resources and documentation are available at [ExtremeCloud IQ Developer Portal](https://developer.extremecloudiq.com/).

    Please check [Get Started and Tutorial](https://developer.extremecloudiq.com/documentation/) to understand how to use the APIs.


    Get the [latest OpenAPI definition](https://github.com/extremenetworks/ExtremeCloudIQ-OpenAPI/blob/main/xcloudiq-openapi.yaml)

    from [ExtremeCloud IQ OpenAPI GitHub repository](https://github.com/extremenetworks/ExtremeCloudIQ-OpenAPI).


    Please have a valid [ExtremeCloud IQ](https://extremecloudiq.com/) account before getting started.

    If you don''t have one, please [register a new account](https://www.extremenetworks.com/cloud-networking/).'
  termsOfService: https://www.extremenetworks.com/company/legal/terms-of-use/
  contact:
    name: Extreme Networks Support
    url: https://www.extremenetworks.com/support
    email: support@extremenetworks.com
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.html
  version: 25.9.0-36
servers:
- url: https://api.extremecloudiq.com
  description: ExtremeCloud IQ REST API Server
tags:
- name: Configuration - Authentication
  description: AD/LDAP/RADIUS/RADSEC/CWP/...
paths:
  /ad-servers:
    get:
      tags:
      - Configuration - Authentication
      summary: List active directory servers
      description: List a page of active directory servers.
      externalDocs:
        description: API Reference
        url: https://extremecloudiq.com/api-docs/api-reference.html#_list_the_active_directory_server
      operationId: listActiveDirectoryServers
      parameters:
      - $ref: '#/components/parameters/page'
      - $ref: '#/components/parameters/limit'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PagedXiqActiveDirectoryServer'
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
      - BearerAuth: []
  /cwps:
    get:
      tags:
      - Configuration - Authentication
      summary: List captive web portals
      description: List a page of Captive Web Portals.
      externalDocs:
        description: API Reference
        url: https://extremecloudiq.com/api-docs/api-reference.html#_list_captive_web_portals
      operationId: listCaptiveWebPortals
      parameters:
      - $ref: '#/components/parameters/page'
      - $ref: '#/components/parameters/limit'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PagedXiqCwp'
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
      - BearerAuth: []
  /ldap-servers:
    get:
      tags:
      - Configuration - Authentication
      summary: List LDAP servers
      description: List a page of LDAP servers.
      externalDocs:
        description: API Reference
        url: https://extremecloudiq.com/api-docs/api-reference.html#_list_ldap_servers
      operationId: listLdapServers
      parameters:
      - $ref: '#/components/parameters/page'
      - $ref: '#/components/parameters/limit'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PagedXiqLdapServer'
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
      - BearerAuth: []
    post:
      tags:
      - Configuration - Authentication
      summary: Create LDAP server
      description: Create a new LDAP server.
      externalDocs:
        description: API Reference
        url: https://extremecloudiq.com/api-docs/api-reference.html#_create_ldap_server
      operationId: createLdapServer
      requestBody:
        description: The body of create LDAP server API
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/XiqCreateLdapServerRequest'
            examples:
              Create_a_new_LDAP_server:
                summary: Create a new LDAP server
                description: The payload to create a new LDAP server
                value:
                  name: test-ldap-server
                  description: test ldap server
                  enable_tls: true
                  bind_dn: extreme.com
                  bind_dn_password: '123456'
                  base_dn: extreme.com
                  l3_address_profile_id: 10
                  protocol_type: LDAP
                  enable_strip_realm_name: false
                  destination_port: 10
                  verification_mode: TRY
                  ca_certificate_id: 1000
                  client_certificate_id: 2000
                  client_key_id: 30000
                  client_key_password: ''
        required: true
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/XiqLdapServer'
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
      - BearerAuth: []
  /ldap-servers/{id}:
    get:
      tags:
      - Configuration - Authentication
      summary: Get LDAP server by ID
      description: Get a specific LDAP server by ID.
      externalDocs:
        description: API Reference
        url: https://extremecloudiq.com/api-docs/api-reference.html#_get_ldap_server
      operationId: getLdapServer
      parameters:
      - $ref: '#/components/parameters/id'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/XiqLdapServer'
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
      - BearerAuth: []
    put:
      tags:
      - Configuration - Authentication
      summary: Update LDAP server configuration
      description: Update configuration for a specific LDAP server.
      externalDocs:
        description: API Reference
        url: https://extremecloudiq.com/api-docs/api-reference.html#_update_ldap_server
      operationId: updateLdapServer
      parameters:
      - $ref: '#/components/parameters/id'
      requestBody:
        description: The body of update LDAP server API
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/XiqUpdateLdapServerRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/XiqLdapServer'
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
      - BearerAuth: []
    delete:
      tags:
      - Configuration - Authentication
      summary: Delete a LDAP server
      description: Delete a specific LDAP server by ID.
      externalDocs:
        description: API Reference
        url: https://extremecloudiq.com/api-docs/api-reference.html#_delete_ldap_server
      operationId: deleteLdapServer
      parameters:
      - $ref: '#/components/parameters/id'
      responses:
        '200':
          description: OK
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
      - BearerAuth: []
  /radius-client-objects:
    get:
      tags:
      - Configuration - Authentication
      summary: List RADIUS client objects
      description: List a page of RADIUS client object configurations.
      externalDocs:
        description: API Reference
        url: https://extremecloudiq.com/api-docs/api-reference.html#_list_the_radius_client_objects_configuration
      operationId: listRadiusClientObjects
      parameters:
      - $ref: '#/components/parameters/page'
      - $ref: '#/components/parameters/limit'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PagedXiqRadiusClientObject'
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
      - BearerAuth: []
    post:
      tags:
      - Configuration - Authentication
      summary: Create RADIUS client object configuration
      description: Create a new RADIUS client object configuration.
      externalDocs:
        description: API Reference
        url: https://extremecloudiq.com/api-docs/api-reference.html#_create_radius_client_object_configuration
      operationId: createRadiusClientObject
      requestBody:
        description: Use the payload configuration to create a new RADIUS client object
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/XiqCreateRadiusClientObjectRequest'
        required: true
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/XiqRadiusClientObject'
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
      - BearerAuth: []
  /radius-client-objects/{id}:
    get:
      tags:
      - Configuration - Authentication
      summary: Get RADIUS client object by ID
      description: Get detailed configuration for a specific RADIUS client object.
      externalDocs:
        description: API Reference
        url: https://extremecloudiq.com/api-docs/api-reference.html#_list_the_radius_client_object_configuration_by_id
      operationId: getRadiusClientObject
      parameters:
      - $ref: '#/components/parameters/id'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/XiqRadiusClientObject'
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
      - BearerAuth: []
    put:
      tags:
      - Configuration - Authentication
      summary: Update RADIUS client object configuration
      description: Update RADIUS client object configuration by ID.
      externalDocs:
        description: API Reference
        url: https://extremecloudiq.com/api-docs/api-reference.html#_update_radius_client_object_configuration
      operationId: updateRadiusClientObject
      parameters:
      - $ref: '#/components/parameters/id'
      requestBody:
        description: The payload to update the RADIUS client object
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/XiqUpdateRadiusClientObjectRequest'
        required: true
      responses:
        '200':
          description: OK
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
      - BearerAuth: []
    delete:
      tags:
      - Configuration - Authentication
      summary: Delete a RADIUS client object configuration
      description: Delete an existing RADIUS client object configuration by ID.
      externalDocs:
        description: API Reference
        url: https://extremecloudiq.com/api-docs/api-reference.html#_delete_radius_client_object_configuration
      operationId: deleteRadiusClientObject
      parameters:
      - $ref: '#/components/parameters/id'
      responses:
        '200':
          description: OK
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
      - BearerAuth: []
  /radius-proxies:
    get:
      tags:
      - Configuration - Authentication
      summary: List RADIUS proxies
      description: List a page of RADIUS proxy configurations.
      externalDocs:
        description: API Reference
        url: https://extremecloudiq.com/api-docs/api-reference.html#_list_the_radius_proxy_configuration
      operationId: listRadiusProxies
      parameters:
      - $ref: '#/components/parameters/page'
      - $ref: '#/components/parameters/limit'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PagedXiqRadiusProxy'
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
      - BearerAuth: []
    post:
      tags:
      - Configuration - Authentication
      summary: Create RADIUS proxy configuration
      description: Create a new RADIUS proxy configuration.
      externalDocs:
        description: API Reference
        url: https://extremecloudiq.com/api-docs/api-reference.html#_create_radius_proxy_configuration
      operationId: createRadiusProxy
      requestBody:
        description: The body of create RADIUS proxy API
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/XiqCreateRadiusProxyRequest'
            examples:
              Create_a_new_RADIUS_proxy:
                summary: Create a new RADIUS proxy
                description: The payload to create a new RADIUS proxy
                value:
                  name: radius-proxy-1
                  description: Radius Proxy 1
                  format_type: NAI
                  retry_count: 3
                  retry_delay: 5
                  dead_time: 300
                  enable_inject_operator_name_attribute: false
                  device_ids:
                  - 1
                  clients:
                  - shared_secret: '123456'
                    description: ''
                    l3_address_profile_id: 1000
                  realms:
                  - name: 'NULL'
                    enable_strip_realm_name: false
                    radius_client_object_id: 2000
                  - name: DEFAULT
                    enable_strip_realm_name: false
                    radius_client_object_id: 3000
        required: true
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/XiqRadiusProxy'
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
      - BearerAuth: []
  /radius-proxies/{id}:
    get:
      tags:
      - Configuration - Authentication
      summary: Get the RADIUS proxy configuration
      description: Get an existing RADIUS proxy configuration by ID.
      externalDocs:
        description: API Reference
        url: https://extremecloudiq.com/api-docs/api-reference.html#_get_the_radius_proxy_configuration_by_id
      operationId: getRadiusProxy
      parameters:
      - $ref: '#/components/parameters/id'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/XiqRadiusProxy'
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
      - BearerAuth: []
    put:
      tags:
      - Configuration - Authentication
      summary: Update RADIUS proxy configuration
      description: Update RADIUS proxy configuration by ID.
      externalDocs:
        description: API Reference
        url: https://extremecloudiq.com/api-docs/api-reference.html#_update_radius_proxy_configuration
      operationId: updateRadiusProxy
      parameters:
      - $ref: '#/components/parameters/id'
      requestBody:
        description: The body of update RADIUS proxy API
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/XiqUpdateRadiusProxyRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/XiqRadiusProxy'
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
      - BearerAuth: []
    delete:
      tags:
      - Configuration - Authentication
      summary: Delete the RADIUS proxy configuration
      description: Delete an existing RADIUS proxy configuration by ID.
      externalDocs:
        description: API Reference
        url: https://extremecloudiq.com/api-docs/api-reference.html#_delete_radius_proxy_configuration
      operationId: deleteRadiusProxy
      parameters:
      - $ref: '#/components/parameters/id'
      responses:
        '200':
          description: OK
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
      - BearerAuth: []
  /radius-proxies/devices:
    get:
      tags:
      - Configuration - Authentication
      summary: List Radius proxy devices
      operationId: listRadiusProxyDevices
      description: List devices for Radius Proxy.
      externalDocs:
        description: API Reference
        url: https://extremecloudiq.com/api-docs/api-reference.html#_list_radius_proxy_devices
      parameters:
      - $ref: '#/components/parameters/page'
      - $ref: '#/components/parameters/limit'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PagedXiqInternalRadiusDevice'
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
      - BearerAuth: []
  /radius-servers/internal:
    get:
      tags:
      - Configuration - Authentication
      summary: List all internal RADIUS servers
      description: List all internal RADIUS servers configurations.
      externalDocs:
        description: API Reference
        url: https://extremecloudiq.com/api-docs/api-reference.html#_list_the_internal_radius_servers
      operationId: listInternalRadiusServers
      parameters:
      - $ref: '#/components/parameters/page'
      - $ref: '#/components/parameters/limit'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PagedXiqInternalRadiusServer'
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
      - BearerAuth: []
    post:
      tags:
      - Configuration - Authentication
      summary: Create internal RADIUS server configuration
      description: Create a new internal RADIUS server configuration.
      externalDocs:
        description: API Reference
        url: https://extremecloudiq.com/api-docs/api-reference.html#_create_internal_radius_server_configuration
      operationId: createInternalRadiusServer
      requestBody:
        description: Use the payload configuration to create a new internal RADIUS server
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/XiqCreateInternalRadiusServerRequest'
        required: true
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/XiqInternalRadiusServer'
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
      - BearerAuth: []
  /radius-servers/internal/{id}:
    get:
      tags:
      - Configuration - Authentication
      summary: Get internal RADIUS server by ID
      description: Get detailed configuration for internal RADIUS server by ID.
      externalDocs:
        description: API Reference
        url: https://extremecloudiq.com/api-docs/api-reference.html#_list_the_internal_radius_server_by_id
      operationId: getInternalRadiusServer
      parameters:
      - $ref: '#/components/parameters/id'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/XiqInternalRadiusServer'
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
      - BearerAuth: []
    put:
      tags:
      - Configuration - Authentication
      summary: Update internal RADIUS server configuration
      description: Update internal RADIUS server configuration by ID.
      externalDocs:
        description: API Reference
        url: https://extremecloudiq.com/api-docs/api-reference.html#_update_internal_radius_server_configuration
      operationId: updateInternalRadiusServer
      parameters:
      - $ref: '#/components/parameters/id'
      requestBody:
        description: The payload to update the internal RADIUS server
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/XiqUpdateInternalRadiusServerRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/XiqInternalRadiusServer'
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
      - BearerAuth: []
    delete:
      tags:
      - Configuration - Authentication
      summary: Delete internal RADIUS server configuration
      description: Delete an existing internal RADIUS server configuration by ID.
      externalDocs:
        description: API Reference
        url: https://extremecloudiq.com/api-docs/api-reference.html#_delete_internal_radius_server_configuration
      operationId: deleteInternalRadiusServer
      parameters:
      - $ref: '#/components/parameters/id'
      responses:
        '200':
          description: OK
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
      - BearerAuth: []
  /radius-servers/internal/devices:
    get:
      tags:
      - Configuration - Authentication
      summary: List all internal RADIUS devices
      description: List all internal RADIUS devices fields.
      externalDocs:
        description: API Reference
        url: https://extremecloudiq.com/api-docs/api-reference.html#_list_the_internal_radius_devices
      operationId: listInternalRadiusDevices
      parameters:
      - $ref: '#/components/parameters/page'
      - $ref: '#/components/parameters/limit'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PagedXiqInternalRadiusDevice'
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
      - BearerAuth: []
  /radius-servers/external:
    get:
      tags:
      - Configuration - Authentication
      summary: List external RADIUS servers
      description: List a page of external RADIUS server configurations.
      externalDocs:
        description: API Reference
        url: https://extremecloudiq.com/api-docs/api-reference.html#_list_the_external_radius_servers
      operationId: listExternalRadiusServers
      parameters:
      - $ref: '#/components/parameters/page'
      - $ref: '#/components/parameters/limit'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PagedXiqExternalRadiusServer'
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
      - BearerAuth: []
    post:
      tags:
      - Configuration - Authentication
      summary: Create external RADIUS server configuration
      description: Create a new external RADIUS server configuration.
      externalDocs:
        description: API Reference
        url: https://extremecloudiq.com/api-docs/api-reference.html#_create_external_radius_server_configuration
      operationId: createExternalRadiusServer
      requestBody:
        description: Use the payload configuration to create a new external RADIUS server
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/XiqCreateExternalRadiusServerRequest'
            examples:
              Create_a_new_External_RADIUS_server:
                summary: Create a new External RADIUS Server
                description: The payload to create a new External RADIUS Server.
                value:
                  name: external-server
                  shared_secret: '123456'
                  authentication_port: 1812
                  accounting_port: 1813
                  ip_addr: 10.10.10.10
                  server_type: ACCOUNTING
                  access_type: STANDARD
                  enable_a3: true
              Create_a_new_RADSEC_server:
                summary: Create a new RADSEC Server
                description: The payload to create a new RADSEC Server.
                value:
                  name: radsec-server
                  shared_secret: '123456'
                  authentication_port: 2083
                  accounting_port: 2083
                  server_type: ACCOUNTING
                  enable_a3: true
                  enable_peer_discovery: true
                  access_type: SECURE
                  trust_point_id: 1234567890
        required: true
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/XiqExternalRadiusServer'
              examples:
                create_radius_successful:
                  summary: Created External RADIUS Server
                  description: Created External RADIUS Server.
                  value:
                    id: 1234567890
                    create_time: '2019-08-24T14:15:22Z'
                    update_time: '2019-08-24T14:15:22Z'
                    org_id: 100
                    name: external-server
                    shared_secret: '123456'
                    authentication_port: 1812
                    accounting_port: 1813
                    ip_addr: 10.10.10.10
                    server_type: ACCOUNTING
                    enable_a3: true
                create_radsec_successful:
                  summary: Created RADSEC Server
                  description: Created RADSEC Server.
                  value:
                    id: 9876543210
                    create_time: '2019-08-24T14:15:22Z'
                    update_time: '2019-08-24T14:15:22Z'
                    org_id: 100
                    name: radsec-server
                    shared_secret: '123456'
                    authentication_port: 1812
                    accounting_port: 1813
                    server_type: ACCOUNTING
                    enable_a3: true
                    enable_peer_discovery: true
                    access_type: SECURE
                    trust_point:
                      id: 3456789012
                      create_time: '2019-08-23T11:35:24Z'
                      update_time: '2019-08-23T11:35:24Z'
                      org_id: 100
                      name: cert-bundle-trust-point
                      bundle_type: TRUST_POINT
                      certificate_ids:
                      - 10000
                      - 20000
                      - 30000
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
      - BearerAuth: []
  /radius-servers/external/{id}:
    get:
      tags:
      - Configuration - Authentication
      summary: Get external RADIUS server by ID
      description: Get detailed configuration for a specific external RADIUS server.
      externalDocs:
        description: API Reference
        url: https://extremecloudiq.com/api-docs/api-reference.html#_list_the_external_radius_server_by_id
      operationId: getExternalRadiusServer
      parameters:
      - $ref: '#/components/parameters/id'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/XiqExternalRadiusServer'
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
      - BearerAuth: []
    put:
      tags:
      - Configuration - Authentication
      summary: Update external RADIUS server configuration
      description: Update external RADIUS server configuration by ID.
      externalDocs:
        description: API Reference
        url: https://extremecloudiq.com/api-docs/api-reference.html#_update_external_radius_server_configuration
      operationId: updateExternalRadiusServer
      parameters:
      - $ref: '#/components/parameters/id'
      requestBody:
        description: The payload to update the external RADIUS server
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/XiqUpdateExternalRadiusServerRequest'
        required: true
      responses:
        '200':
          description: OK
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
      - BearerAuth: []
    delete:
      tags:
      - Configuration - Authentication
      summary: Delete external RADIUS server configuration
      description: Delete an existing external RADIUS server configuration by ID.
      externalDocs:
        description: API Reference
        url: https://extremecloudiq.com/api-docs/api-reference.html#_delete_external_radius_server_configuration
      operationId: deleteExternalRadiusServer
      parameters:
      - $ref: '#/components/parameters/id'
      responses:
        '200':
          description: OK
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
      - BearerAuth: []
  /radsec-proxies:
    get:
      tags:
      - Configuration - Authentication
      summary: List RADSEC proxies
      description: List a page of RADSEC proxy configurations.
      externalDocs:
        description: API Reference
        url: https://extremecloudiq.com/api-docs/api-reference.html#_list_the_radsec_proxy_configuration
      operationId: listRadsecProxies
      parameters:
      - $ref: '#/components/parameters/page'
      - $ref: '#/components/parameters/limit'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PagedXiqRadsecProxy'
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
      - BearerAuth: []
    post:
      tags:
      - Configuration - Authentication
      summary: Create RADSEC proxy configuration
      description: Create a new RADSEC proxy configuration.
      externalDocs:
        description: API Reference
        url: https://extremecloudiq.com/api-docs/api-reference.html#_create_radsec_proxy_configuration
      operationId: createRadsecProxy
      requestBody:
        description: The body of create RADSEC proxy API
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/XiqCreateRadsecProxyRequest'
            examples:
              Create_a_new_RADSEC_proxy:
                summary: Create a new RADSEC proxy
                description: The payload to create a new RADSEC proxy
                value:
                  name: radsec-proxy-1
                  description: Radsec Proxy 1
                  name_format: NAI
                  operator_name_type: WBAID
                  operator_name: SP.Extreme:CA
                  realms:
                  - name: DEFAULT
                    enable_strip_realm_name: false
                    external_radius_server_object_ids:
                    - 1000
                    - 1001
        required: true
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/XiqRadsecProxy'
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
      - BearerAuth: []
  /radsec-proxies/{id}:
    get:
      tags:
      - Configuration - Authentication
      summary: Get the RADSEC proxy configuration
      description: Get an existing RADSEC proxy configuration by ID.
      externalDocs:
        description: API Reference
        url: https://extremecloudiq.com/api-docs/api-reference.html#_get_the_radius_proxy_configuration_by_id
      operationId: getRadsecProxy
      parameters:
      - $ref: '#/components/parameters/id'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/XiqRadsecProxy'
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
      - BearerAuth: []
    put:
      tags:
      - Configuration - Authentication
      summary: Update RADSEC proxy configuration
      description: Update RADSEC proxy configuration by ID.
      externalDocs:
        description: API Reference
        url: https://extremecloudiq.com/api-docs/api-reference.html#_update_radius_proxy_configuration
      operationId: updateRadsecProxy
      parameters:
      - $ref: '#/components/parameters/id'
      requestBody:
        description: The body of update RADSEC proxy API
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/XiqUpdateRadsecProxyRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/XiqRadsecProxy'
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
      - BearerAuth: []
    delete:
      tags:
      - Configuration - Authentication
      summary: Delete the RADSEC proxy configuration
      description: Delete an existing RADSEC proxy configuration by ID.
      externalDocs:
        description: API Reference
        url: https://extremecloudiq.com/api-docs/api-reference.html#_delete_radius_proxy_configuration
      operationId: deleteRadsecProxy
      parameters:
      - $ref: '#/components/parameters/id'
      responses:
        '200':
          description: OK
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
      - BearerAuth: []
components:
  schemas:
    XiqInternalRadiusServer:
      allOf:
      - $ref: '#/components/schemas/XiqViqEntity'
      - type: object
        description: The configuration of internal RADIUS server object
        required:
        - name
        - authentication_method_group
        - default_authentication_method
        - authentication_server_port
        - enable_verify_server_cert
        - enable_check_cert_common_name
        - enable_check_user_for_tls_auth
        - enable_authentication_server
        - enable_radius_accounting_settings
        - external_user_directory
        - ca_certificate_id
        - server_certificate_id
        - server_key_id
        - device_ids
        properties:
          name:
            type: string
            description: The internal RADIUS server name
          description:
            type: string
            description: The internal RADIUS server description
          authentication_method_group:
            $ref: '#/components/schemas/XiqInternalRadiusServerAuthenticationMethodGroup'
          default_authentication_method:
            $ref: '#/components/schemas/XiqInternalRadiusServerAuthenticationMethod'
          enable_verify_server_cert:
            type: boolean
            description: Enable verify server cert or not
          server_key_password:
            type: string
            description: password for server key
          enable_check_cert_common_name:
            type: boolean
            description: Enable check cert common name or not
          enable_check_user_for_tls_auth:
            type: boolean
            description: Enable check user for TLS auth or not
          enable_check_user_for_peap_auth:
            type: boolean
            description: Enable check user for PEAP auth or not, for Active Directory as the external user directory only
          enable_check_user_for_ttls_auth:
            type: boolean
            description: Enable check user for TTLS auth or not, for Active Directory as the external user directory only
          enable_authentication_server:
            type: boolean
            description: Enable the RADIUS server as authentication or not
          enable_radius_accounting_settings:
            type: boolean
            description: Enable the RADIUS server as accounting or not, must enable authentication server if want to enable accounting settings
          authentication_server_port:
            maximum: 65535
            minimum: 1
            type: integer
            description: Port for the authentication, must enable authentication. Max:65535, Min:1
            format: int32
            default: 1812
          active_session_limit:
            maximum: 15
            minimum: 0
            type: integer
            description: Active session limit, must enable accounting setting. Max:15, Min:0
            format: int32
            default: 0
          active_session_age_timeout:
            maximum: 300000000
            minimum: 30
            type: integer
            description: Active session age timeout in seconds, must enable accounting setting. Max:300000000, Min:30
            format: int32
            default: 30
          external_user_directory:
            $ref: '#/components/schemas/XiqExternalUserDirectory'
          ca_certificate_id:
            type: integer
            description: The CA certificate ID
            format: int64
          server_certificate_id:
            type: integer
            description: The Server certificate ID
            format: int64
          server_key_id:
            type: integer
            description: The Server key ID
            format: int64
          device_ids:
            type: array
            description: The list of device ID associated with the internal RADIUS server
            items:
              type: integer
              description: The list of device ID associated with the internal RADIUS server
              format: int64
          clients:
            type: array
            description: The RADIUS clients of RADIUS proxy
            items:
              $ref: '#/components/schemas/XiqRadiusClient'
    XiqCertBundleType:
      type: string
      description: The type of Certificate Bundle.
      enum:
      - TRUST_POINT
    XiqRadiusClientObjectType:
      type: string
      description: 'The entry server type: INTERNAL_RADIUS_SERVER, EXTERNAL_RADIUS_SERVER, INTERNAL_RADIUS_PROXY'
      enum:
      - EXTERNAL_RADIUS_SERVER
      - INTERNAL_RADIUS_SERVER
      - INTERNAL_RADIUS_PROXY
    PagedXiqLdapServer:
      allOf:
      - $ref: '#/components/schemas/XiqPage'
      - type: object
        properties:
          data:
            type: array
            description: The data in the current page
            items:
              $ref: '#/components/schemas/XiqLdapServer'
    XiqActiveDirectoryServerBaseDnFetchMode:
      type: string
      description: The base DN fetch mode of active directory server
      enum:
      - AUTO
      - MANUAL
    XiqUpdateInternalRadiusServerRequest:
      type: object
      required:
      - name
      - authentication_method_group
      - default_authentication_method
      - enable_verify_server_cert
      - enable_check_cert_common_name
      - enable_check_user_for_tls_auth
      - ca_certificate_id
      - enable_authentication_server
      - enable_radius_accounting_settings
      - server_certificate_id
      - server_key_id
      properties:
        name:
          type: string
          description: The internal RADIUS server name
        description:
          type: string
          description: The internal RADIUS server description
        authentication_method_group:
          $ref: '#/components/schemas/XiqInternalRadiusServerAuthenticationMethodGroup'
        default_authentication_method:
          $ref: '#/components/schemas/XiqInternalRadiusServerAuthenticationMethod'
        enable_verify_server_cert:
          type: boolean
          description: Enable verify server cert or not
        server_key_password:
          type: string
          description: password for server key
        enable_check_cert_common_name:
          type: boolean
          description: Enable check cert common name or not
        enable_check_user_for_tls_auth:
          type: boolean
          description: Enable check user for TLS auth or not
        enable_check_user_for_peap_auth:
          type: boolean
          description: Enable check user for PEAP auth or not, for Active Directory as the external user directory only
        enable_check_user_for_ttls_auth:
          type: boolean
          description: Enable check user for TTLS auth or not, for Active Directory as the external user directory only
        enable_authentication_server:
          type: boolean
          description: Enable the RADIUS server as authentication or not
        enable_radius_accounting_settings:
          type: boolean
          description: Enable the RADIUS server as accounting or not, must enable authentication server if want to enable accounting settings
        authentication_server_port:
          maximum: 65535
          minimum: 1
          type: integer
          description: Port for the authentication, must enable authentication. Max:65535, Min:1
          format: int32
          default: 1812
        active_session_limit:
          maximum: 15
          minimum: 0
          type: integer
          description: Active session limit, must enable accounting setting. Max:15, Min:0
          format: int32
          default: 0
        active_session_age_timeout:
          maximum: 300000000
          minimum: 30
          type: integer
          description: Active session age timeout in seconds, must enable accounting setting. Max:300000000, Min:30
          format: int32
          default: 30
        ca_certificate_id:
          type: integer
          description: 'The CA certificate ID, which could be fetched from endpoint: ''/certificates'' and pick up with type ''CA'''
          format: int64
        server_certificate_id:
          type: integer
          description: 'The Server certificate ID, which could be fetched from endpoint: ''/certificates'' and pick up with type ''CERT'''
          format: int64
        server_key_id:
          type: integer
          description: 'The Server key ID, which could be fetched from endpoint: ''/certificates and pick up with type ''KEY'''
          format: int64
        clients:
          type: array
          description: 'The RADIUS clients of RADIUS proxy, which could be fetched form endpoint: ''/radius-proxy'''
          items:
            $ref: '#/components/schemas/XiqRadiusClient'
    XiqUpdateRadiusProxyRequest:
      type: object
      description: The payload to update RADIUS proxy
      properties:
        name:
          type: string
          description: The RADIUS proxy name
        description:
          type: string
          description: The RADIUS proxy description
        format_type:
          $ref: '#/components/schemas/XiqRadiusProxyFormatType'
        retry_count:
          type: integer
          description: The retry count of RADIUS proxy
          format: int32
        retry_delay:
          type: integer
          description: The retry delay of RADIUS proxy
          format: int32
        dead_time:
          type: integer
          description: The dead time of RADIUS proxy
          format: int32
        enable_inject_operator_name_attribute:
          type: boolean
          description: The flag for enable inject operator name attribute
        clients:
          type: array
          description: The RADIUS clients of RADIUS proxy
          items:
            $ref: '#/components/schemas/XiqUpdateRadiusClient'
        realms:
          maxItems: 2147483647
          minItems: 2
          type: array
          description: The RADIUS realms of RADIUS proxy, provide at least two default RADIUS realms with name 'DEFAULT' and 'NULL'
          items:
            $ref: '#/components/schemas/XiqUpdateRadiusProxyRealm'
    PagedXiqExternalRadiusServer:
      allOf:
      - $ref: '#/components/schemas/XiqPage'
      - type: object
        properties:
          data:
            type: array
            description: The data in the current page
            items:
              $ref: '#/components/schemas/XiqExternalRadiusServer'
    XiqInternalRadiusServerAuthenticationMethod:
      type: string
      description: The default authentication method
      enum:
      - TLS
      - PEAP
      - TTLS
      - LEAP
      - MD5
    XiqUpdateRadiusClient:
      type: object
      description: The associate RADIUS client for RADIUS proxy
      properties:
        id:
          type: integer
          description: The RADIUS client ID, using an existing ID or leave empty to create a new one
          format: int64
        shared_secret:
          type: string
          description: The shared secret of RADIUS client
        description:
          type: string
          description: The RADIUS client description
        l3_address_profile_id:
          type: integer
          description: The associate L3 address profile ID
          format: int64
    XiqCreateRadsecProxyRequest:
      type: object
      description: The payload to create a new RADSEC proxy.
      required:
      - name
      - realms
      properties:
        name:
          type: string
          description: The RADSEC proxy name.
        description:
          type: string
          description: The RADSEC proxy description.
        name_format:
          $ref: '#/components/schemas/XiqRadsecNameFormatType'
        enable_inject_operator_name_attribute:
          type: boolean
          description: The flag for enable inject operator name attribute.
        operator_name_type:
          $ref: '#/components/schemas/XiqRadsecOperatorNameType'
        operator_name:
          type: string
          description: The RADSEC proxy operator name.
        realms:
          type: array
          description: The RADSEC realms of RADSEC proxy.
          items:
            $ref: '#/components/schemas/XiqRadsecProxyRealm'
    XiqUpdateRadiusProxyRealm:
      type: object
      description: The associate RADIUS proxy realm for RADIUS proxy
      properties:
        id:
          type: integer
          description: The RADIUS proxy realm ID, using an existing ID or leave empty to create a new one
          format: int64
        name:
          type: string
          description: The RADIUS proxy realm name
        enable_strip_realm_name:
          type: boolean
          description: The flag for enable strip realm name
        radius_client_object_id:
          type: integer
          description: The associate RADIUS client object ID
          format: int64
    XiqUpdateExternalRadiusServerRequest:
      type: object
      required:
      - name
      - authentication_port
      - accounting_port
      - server_type
      properties:
        name:
          type: string
          description: The external RADIUS server name.
        shared_secret:
          type: string
          description: The shared secret for the external RADIUS server (optional).
        authentication_port:
          maximum: 65535
          minimum: 1
          type: integer
          description: The authentication port for the external RADIUS server (1 ~ 65535).  The default for a External RADIUS server of type 'STANDARD', the default port is 1812.  For a External RADIUS server of type 'SECURE', the default port is 2083.
          format: int32
        accounting_port:
          maximum: 65535
          minimum: 1
          type: integer
          description: The accounting port for the external RADIUS server (1 ~ 65535). The default for a External RADIUS server of type 'STANDARD', the default port is 1813. For a External RADIUS server of type 'SECURE', the default port is 2083.
          format: int32
        server_type:
          $ref: '#/components/schemas/XiqRadiusServerType'
        ip_addr:
          type: string
          description: The IP address or hostname of the RADIUS server.
        enable_peer_discovery:
          type: boolean
          description: Indicates whether the RADIUS server allows devices to connect automatically  without manually defining their IP address or hostname.
        trust_point_id:
          type: integer
          description: The Trust Point Certificate Bundle ID.
          format: int64
    XiqRadiusClient:
      type: object
      description: The associate RADIUS client for RADIUS proxy
      properties:
        id:
          type: integer
          description: The RADIUS client ID
          format: int64
        shared_secret:
          type: string
          description: The shared secret of RADIUS client
        description:
          type: string
          description: The RADIUS client description
        l3_address_profile_id:
          type: integer
          description: The associate L3 address profile ID
          format: int64
    XiqLdapServerVerificationMode:
      type: string
      description: The LDAP server verification mode
      enum:
      - TRY
      - NEVER
      - DEMAND
    PagedXiqActiveDirectoryServer:
      allOf:
      - $ref: '#/components/schemas/XiqPage'
      - type: object
        properties:
          data:
            type: array
            description: The data in the current page
            items:
              $ref: '#/components/schemas/XiqActiveDirectoryServer'
    XiqRadsecProxyRealm:
      type: object
      description: The RADSEC proxy realm definition
      properties:
        name:
          type: string
          description: The RADIUS proxy realm name
        enable_strip_realm_name:
          type: boolean
          description: The flag to strip the realm name
        external_radius_server_object_ids:
          type: array
          description: The list of external RADIUS server object IDs (up to 8)
          items:
            type: integer
            format: int64
    XiqCreateRadiusProxyRealm:
      type: object
      description: The associate RADIUS proxy realm for RADIUS proxy
      properties:
        name:
          type: string
          description: The RADIUS proxy realm name
        enable_strip_realm_name:
          type: boolean
          description: The flag for enable strip realm name
        radius_client_object_id:
          type: integer
          description: The associate RADIUS client object ID
          format: int64
    XiqCreateRadiusClientObjectRequest:
      type: object
      required:
      - name
      - enable_inject_operator_name_attribute
      - enable_message_authenticator_attribute
      - enable_permit_dynamic_authorization_message_change
      - retry_interval
      - accounting_interim_update_interval
      - entries
      properties:
        name:
          type: string
          description: The RADIUS client object name.
        description:
          type: string
          description: The RADIUS client object description.
        enable_inject_operator_name_attribute:
          type: boolean
          description: The flag for enable Inject Operator Name Attribute
        enable_message_authenticator_attribute:
          type: boolean
          description: The flag for enable message authenticator attribute
        enable_permit_dynamic_authorization_message_change:
          type: boolean
          description: The flag for enable permit dynamic authorization message change
        retry_interval:
          maximum: 100000000
          minimum: 60
          type: integer
          description: The retry interval, 60 - 100000000 seconds
          format: int32
        accounting_interim_update_interval:
          maximum: 100000000
          minimum: 60
          type: integer
          description: The accounting interim update interval, 60 - 100000000 seconds
          format: int32
        entries:
          maxItems: 2147483647
          minItems: 1
          type: array
          description: The list of RADIUS client object entries
          items:
            $ref: '#/components/schemas/XiqRadiusClientObjectEntry'
    XiqRadiusClientObjectEntry:
      type: object
      description: The entry of RADIUS client object
      required:
      - server_role
      - server_type
      - radius_server_id
      properties:
        server_role:
          $ref: '#/components/schemas/XiqServerRole'
        server_type:
          $ref: '#/components/schemas/XiqRadiusClientObjectType'
        radius_server_id:
          type: integer
          description: The ID of the RADIUS server object, for EXTERNAL_RADIUS_SERVER please use the ID of external RADIUS server object. For INTERNAL_RADIUS_SERVER, please use the RADIUS device ID
          format: int64
    XiqInternalRadiusServerAuthenticationMethodGroup:
      type: string
      description: The authentication group
      enum:
      - TLS_PEAP_TTLS_LEAP_MD5
      - TLS_PEAP_TTLS_LEAP
      - TLS_PEAP
      - TLS_TTLS
      - TLS
      - LEAP
    XiqRadiusProxyRealm:
      type: object
      description: The associate RADIUS proxy realm for RADIUS proxy
      properties:
        id:
          type: integer
          description: The RADIUS proxy realm ID
          format: int64
        name:
          type: string
          description: The RADIUS proxy realm name
        enable_strip_realm_name:
          type: boolean
          description: The flag for enable strip realm name
        radius_client_object_id:
          type: integer
          description: The associate RADIUS client object ID
          format: int64
    XiqErrorParams:
      type: object
      description: Error parameters
      properties:
        field:
          type: string
          description: The error field
        value:
          type: string
          description: The error value
    XiqUpdateLdapServerRequest:
      type: object
      properties:
        name:
          type: string
          description: The LDAP server name
        description:
          type: string
          description: The LDAP server description
        enable_tls:
          type: boolean
          description: enable TLS or not, if ture, caCertificateId, clientCertificateId and clientKeyId must be specified
        bind_dn:
          type: string
          description: The LDAP server bind DN name
        bind_dn_password:
          type: string
          description: The LDAP server bind DN password
        base_dn:
          type: string
          description: The RADIUS user base DN
        l3_address_profile_id:
          type: integer
          description: The L3 address profile ID
          format: int64
        protocol_type:
          $ref: '#/components/schemas/XiqLdapProtocolType'
        enable_strip_realm_name:
          type: boolean
          description: enable strip realm name or not
        destination_port:
          minimum: 1
          type: integer
          description: The LDAP server destination port (1 ~ 65535)
          format: int32
        verification_mode:
          $ref: '#/components/schemas/XiqLdapServerVerificationMode'
        ca_certificate_id:
          type: integer
          description: The CA certificate ID, refer to XiqCertificate
          format: int64
        client_certificate_id:
          type: integer
          description: The client certificate ID, refer to XiqCertificate
          format: int64
        client_key_id:
          type: integer
          description: The client key ID, refer to XiqCertificate
          format: int64
    XiqCertificate:
      allOf:
      - $ref: '#/components/schemas/XiqBaseEntity'
      - type: object
        description: The certificate
        required:
        - name
        properties:
          name:
            type: string
            description: The certificate file name
          cert_type:
            $ref: '#/components/schemas/XiqCertificateType'
    XiqCwp:
      allOf:
      - $ref: '#/components/schemas/XiqViqEntity'
      - type: object
        description: The Captive Web Portal Entity
        properties:
          name:
            type: string
            description: The CWP name
    XiqExternalUserDirectory:
      type: object
      description: The setting for external user directory, AD or LDAP
      required:
      - ldap_retry_interval
      - local_check_interval
      - remote_check_interval
      - enable_radius_server_credential_caching
      - cache_lifetime
      - user_group_attribute
      - external_user_directory_type
      - entries
      properties:
        ldap_retry_interval:
          maximum: 200000000
          minimum: 60
          type: integer
          description: Retry the previously unresponsive primary server after the specified seconds
          format: int32
          default: 600
        local_check_interval:
          maximum: 3600
          minimum: 30
          type: integer
          description: Time to user local cache if none of the external servers are reachable in seconds
          format: int32
          default: 300
        remote_check_interval:
          maximum: 3600
          minimum: 10
          type: integer
          description: Try the next backup server after specified seconds
          format: int32
          default: 30
        enable_radius_server_credential_caching:
          type: boolean
          description: Caching credentials allows for better performance and higher availability by reducing the dependence on RADIUS servers across high-latency WAN links.
        cache_lifetime:
          maximum: 2592000
          minimum: 3600
          type: integer
          description: Retain Cache for
          format: int32
          default: 86400
        user_group_attribute:
          type: string
          description: 'The user group attribute, use string such as: ''memberOf'''
          example: memberOf
          default: memberOf
        external_user_directory_type:
          $ref: '#/components/schemas/XiqExternalUserDirectoryType'
        entries:
          type: array
          description: The external user directory server entries
          items:
            $ref: '#/components/schemas/XiqExternalUserDirectoryEntry'
    XiqCertificateBundle:
      allOf:
      - $ref: '#/components/schemas/XiqViqEntity'
      - type: object
        description: The configuration of Certificate Bundle
        required:
        - bundle_type
        properties:
          bundle_type:
            $ref: '#/components/schemas/XiqCertBundleType'
          certificates:
            type: array
            description: Certificate Bundles certificates.
            items:
              $ref: '#/components/schemas/XiqCertificate'
    XiqServerRole:
      type: string
      description: The server role, PRIMARY or BACKUP
      enum:
      - PRIMARY
      - BACKUP1
      - BACKUP2
      - BACKUP3
    XiqExternalUserDirectoryEntry:
      type: object
      description: The payload of common object - External User Directory Entry
      required:
      - default_server_id
      - server_role
      properties:
        default_server_id:
          type: integer
          description: 'The default external user directory server id, could be active directory server id(get the id list from endpoint: ''/ad-servers'') or LDAP server id(get the id list from endpoint: ''/ldap-servers'') depends on the ''external_user_directory_type'' '
          format: int64
        server_role:
          $ref: '#/components/schemas/XiqServerRole'
    XiqCreateInternalRadiusServerRequest:
      type: object
      required:
      - name
      - authentication_method_group
      - default_authentication_method
      - enable_verify_server_cert
      - enable_check_cert_common_name
      - enable_check_user_for_tls_auth
      - enable_authentication_server
      - enable_radius_accounting_settings
      - external_user_directory
      - ca_certificate_id
      - server_certificate_id
      - server_key_id
      - device_ids
      properties:
        name:
          type: string
          description: The internal RADIUS server name
        description:
          type: string
          description: The internal RADIUS server description
        authentication_method_group:
          $ref: '#/components/schemas/XiqInternalRadiusServerAuthenticationMethodGroup'
        default_authentication_method:
          $ref: '#/components/schemas/XiqInternalRadiusServerAuthenticationMethod'
        enable_verify_server_cert:
          type: boolean
          description: Enable verify server cert or not
        server_key_password:
          type: string
          description: password for server key
        enable_check_cert_common_name:
          type: boolean
          description: Enable check cert common name or not
        enable_check_user_for_tls_auth:
          type: boolean
          description: Enable check user for TLS auth or not
        enable_check_user_for_peap_auth:
          type: boolean
          description: Enable check user for PEAP auth or not, for Active Directory as the external user directory only
        enable_check_user_for_ttls_auth:
          type: boolean
          description: Enable check user for TTLS auth or not, for Active Directory as the external user directory only
        enable_authentication_server:
          type: boolean
          description: Enable the RADIUS server as authentication or not
        enable_radius_accounting_settings:
          type: boolean
          description: Enable the RADIUS server as accounting or not, must enable authentication server if want to enable accounting settings
        authentication_server_port:
          maximum: 65535
          minimum: 1
          type: integer
          description: Port for the authentication, must enable authentication. Max:65535, Min:1
          format: int32
          default: 1812
        active_session_limit:
          maximum: 15
          minimum: 0
          type: integer
          description: Active session limit, must enable accounting setting. Max:15, Min:0
          format: int32
          default: 0
        active_session_age_timeout:
          maximum: 300000000
          minimum: 30
          type: integer
          description: Active session age timeout in seconds, must enable accounting setting. Max:300000000, Min:30
          format: int32
          default: 1800
        external_user_directory:
          $ref: '#/components/schemas/XiqExternalUserDirectory'
        ca_certificate_id:
          type: integer
          description: 'The CA certificate ID, which could be fetched from endpoint: ''/certificates'' and pick up with type ''CA'''
          format: int64
        server_certificate_id:
          type: integer
          description: 'The Server certificate ID, which could be fetched from endpoint: ''/certificates'' and pick up with type ''CERT'''
          format: int64
        server_key_id:
          type: integer
          description: 'The Server key ID, which could be fetched from endpoint: ''/certificates and pick up with type ''KEY'''
          format: int64
        device_ids:
          type: array
          description: The list of device ID associated with the internal RADIUS server
          items:
            type: integer
            description: The list of device ID associated with the internal RADIUS server
            format: int64
        clients:
          type: array
          description: 'The RADIUS clients of RADIUS proxy, which could be fetched from endpoint: ''/radius-proxy'''
          items:
            $ref: '#/components/schemas/XiqRadiusClient'
    XiqBaseEntity:
      required:
      - id
      - create_time
      - update_time
      type: object
      properties:
        id:
          type: integer
          description: The unique identifier
          format: int64
        create_time:
          type: string
          description: The create time
          format: date-time
        update_time:
          type: string
          description: The last update time
          format: date-time
    XiqRadiusServerType:
      type: string
      description: The port type of the RADIUS server, can only be either ACCOUNTING, AUTHENTICATION, or BOTH
      enum:
      - ACCOUNTING
      - AUTHENTICATION
      - BOTH
    PagedXiqRadiusProxy:
      allOf:
      - $ref: '#/components/schemas/XiqPage'
      - type: object
        properties:
          data:
            type: array
            description: The data in the current page
            items:
              $ref: '#/components/schemas/XiqRadiusProxy'
    XiqCreateLdapServerRequest:
      type: object
      required:
      - name
      - enable_tls
      - bind_dn_password
      - bind_dn
      - base_dn
      - l3_address_profile_id
      - protocol_type
      - enable_strip_realm_name
      - destination_port
      - verification_mode
      properties:
        name:
          type: string
          description: The LDAP server name
        description:
          type: string
          description: The LDAP server description(optional)
        enable_tls:
          type: boolean
          description: To enable TLS or not, if ture, caCertificateId, clientCertificateId and clientKeyId must be specified
        bind_dn:
          type: string
          description: The LDAP server bind DN name
        bind_dn_password:
          type: string
          description: The LDAP server bind DN password
        base_dn:
          type: string
          description: The RADIUS user base DN
        l3_address_profile_id:
          type: integer
          description: The L3 address profile ID
          format: int64
        protocol_type:
          $ref: '#/components/schemas/XiqLdapProtocolType'
        enable_strip_realm_name:
          type: boolean
          description: enable strip realm name or not
        destination_port:
          minimum: 1
          type: integer
          description: The LDAP server destination port (1 ~ 65535)
          format: int32
        verification_mode:
          $ref: '#/components/schemas/XiqLdapServerVerificationMode'
        ca_certificate_id:
          type: integer
          description: The CA certificate ID, refer to XiqCertificate
          format: int64
        client_certificate_id:
          type: integer
          description: The client certificate ID, refer to XiqCertificate
          format: int64
        client_key_id:
          type: integer
          description: The client key ID, refer to XiqCertificate
          format: int64
        client_key_password:
          type: string
          description: The LDAP server client key password
    PagedXiqInternalRadiusServer:
      allOf:
      - $ref: '#/components/schemas/XiqPage'
      - type: object
        properties:
          data:
            type: array
            description: The data in the current page
            items:
              $ref: '#/components/schemas/XiqInternalRadiusServer'
    XiqRadiusAccessType:
      type: string
      description: The access type of the External RADIUS server, an External RADIUS server with type 'SECURE' is a RADSEC server.  This field cannot be changed after it is set.
      enum:
      - STANDARD
      - SECURE
    XiqError:
      type: object
      properties:
        error_code:
          type: string
          description: The error code
        error_id:
          type: string
          description: The error ID for internal troubleshooting
        error_message:
          type: string
          description: The error detailed message
        error_message_code:
          type: string
          description: The error message code
        error_message_description:
          type: string
          description: The error message description
        error_params:
          $ref: '#/components/schemas/XiqErrorParams'
      required:
      - error_code
      - error_id
      - error_message
    XiqRadiusProxyFormatType:
      type: string
      description: The format type of RADIUS proxy
      enum:
      - NAI
      - NT
      - SPN
      - AUTO
    XiqRadiusClientObject:
      allOf:
      - $ref: '#/components/schemas/XiqBaseEntity'
      - type: object
        description: The RADIUS client object configuration
        required:
        - name
        - enable_inject_operator_name_attribute
        - enable_message_authenticator_attribute
        - enable_permit_dynamic_authorization_message_change
        - retry_interval
        - accounting_interim_update_interval
        - entries
        properties:
          name:
            type: string
            description: The RADIUS client object name.
          description:
            type: string
            description: The RADIUS client object description.
          enable_inject_operator_name_attribute:
            type: boolean
            description: The flag for enable inject operator name attribute.
          enable_message_authenticator_attribute:
            type: boolean
            description: The flag for enable message authenticator attribute
          enable_permit_dynamic_authorization_message_change:
            type: boolean
            description: The flag for enable permit dynamic authorization message change
          retry_interval:
            maximum: 100000000
            minimum: 60
            type: integer
            description: The retry interval, 60 - 100000000 seconds
            format: int32
          accounting_interim_update_interval:
            maximum: 100000000
            minimum: 60
            type: integer
            description: The accounting interim update interval, 60 - 100000000 seconds
            format: int32
          entries:
            maxItems: 2147483647
            minItems: 1
            type: array
            description: The list of RADIUS client object entries
            items:
              $ref: '#/components/schemas/XiqRadiusClientObjectEntry'
    XiqActiveDirectoryServer:
      allOf:
      - $ref: '#/components/schemas/XiqViqEntity'
      - type: object
        description: The configuration of Active Directory Server
        properties:
          name:
            type: string
            description: The active directory server name
          description:
            type: string
            description: The description for active directory server
          base_dn:
            type: string
            description: The base DN of active directory server
          enable_tls:
            type: boolean
            description: Flag to enable TLS
          bind_dn:
            type: string
            description: The bind DN of active directory server
          bind_dn_password:
            type: string
            description: The bind DN password of active directory server
          domain:
            type: string
            description: The domain of active directory server
          computer_ou:
            type: string
            description: The compute OU of active directory server
          domain_admin:
            type: string
            description: The domain admin of active directory server
          domain_admin_password:
            type: string
            description: The domain admin password of active directory server
          enable_save_domain_admin_credentials:
            type: boolean
            description: Flag to enable save domain admin credentials
          short_domain:
            type: string
            description: The short domain of active directory server
          realm:
            type: string
            description: The realm of active directory server
          base_dn_fetch_mode:
            $ref: '#/components/schemas/XiqActiveDirectoryServerBaseDnFetchMode'
          connection_setup_device_id:
            type: integer
            description: The connection setup device ID for active directory server
            format: int64
          l3_address_profile_id:
            type: integer
            description: The associate L3 address profile ID for active directory server
            format: int64
    XiqLdapProtocolType:
      type: string
      description: LDAP server protocol type
      enum:
      - LDAP
      - LDAPS
    XiqCreateRadiusProxyRequest:
      type: object
      description: The payload to create a new RADIUS proxy
      required:
      - name
      - format_type
      - retry_count
      - retry_delay
      - dead_time
      - realms
      - device_ids
      properties:
        name:
          type: string
          description: The RADIUS proxy name
        description:
          type: string
          description: The RADIUS proxy description
        format_type:
          $ref: '#/components/schemas/XiqRadiusProxyFormatType'
        retry_count:
          type: integer
          description: The retry count of RADIUS proxy
          format: int32
        retry_delay:
          type: integer
          description: The retry delay of RADIUS proxy
          format: int32
        dead_time:
          type: integer
          description: The dead time of RADIUS proxy
          format: int32
        enable_inject_operator_name_attribute:
          type: boolean
          description: The flag for enable inject operator name attribute
        clients:
          type: array
          description: The RADIUS clients of RADIUS proxy
          items:
            $ref: '#/components/schemas/XiqCreateRadiusClient'
        realms:
          maxItems: 2147483647
          minItems: 2
          type: array
          description: The RADIUS realms of RADIUS proxy, provide at least two default RADIUS realms with name 'DEFAULT' and 'NULL'
          items:
            $ref: '#/components/schemas/XiqCreateRadiusProxyRealm'
        device_ids:
          type: array
          description: The device IDS to assign RADIUS proxy
          items:
            type: integer
            description: The device IDS to assign RADIUS proxy
            format: int64
    XiqExternalUserDirectoryType:
      type: string
      description: The external user directory type
      enum:
      - OPEN_LDAP
      - ACTIVE_DIRECTORY
    XiqRadsecOperatorNameType:
      type: string
      description: The operator name type of a RADSEC proxy.
      enum:
      - WBAID
    XiqUpdateRadsecProxyRequest:
      type: object
      description: The payload to update RADSEC proxy
      properties:
        name:
          type: string
          description: The RADSEC proxy name
        description:
          type: string
          description: The RADSEC proxy description
        name_format:
          $ref: '#/components/schemas/XiqRadsecNameFormatType'
        enable_inject_operator_name_attribute:
          type: boolean
          description: The flag for enable inject operator name attribute.
        operator_name:
          type: string
          description: The RADSEC proxy operator name.
        realms:
          maxItems: 2147483647
          minItems: 2
          type: array
          description: The RADSEC realms of RADSEC proxy, provide at least two default RADSEC realms with name 'DEFAULT' and 'NULL'
          items:
            $ref: '#/components/schemas/XiqUpdateRadiusProxyRealm'
    XiqPage:
      required:
      - count
      - page
      - total_count
      - total_pages
      type: object
      properties:
        page:
          type: integer
          description: The current page number
          format: int32
        count:
          type: integer
          description: The element count of the current page
          format: int32
        total_pages:
          type: integer
          description: The total page number based on request page size
          format: int32
        total_count:
          type: integer
          description: The total element count
          format: int64
    XiqRadiusProxy:
      allOf:
      - $ref: '#/components/schemas/XiqViqEntity'
      - type: object
        description: The configuration of RADIUS proxy
        properties:
          name:
            type: string
            description: The RADIUS proxy name
          description:
            type: string
            description: The RADIUS proxy description
          format_type:
            $ref: '#/components/schemas/XiqRadiusProxyFormatType'
          retry_count:
            type: integer
            description: The retry count of RADIUS proxy
            format: int32
          retry_delay:
            type: integer
            description: The retry delay of RADIUS proxy
            format: int32
          dead_time:
            type: integer
            description: The dead time of RADIUS proxy
            format: int32
          enable_inject_operator_name_attribute:
            type: boolean
            description: The flag for enable inject operator name attribute
          clients:
            type: array
            description: The RADIUS clients of RADIUS proxy
            items:
              $ref: '#/components/schemas/XiqRadiusClient'
          realms:
            type: array
            description: The RADIUS realms of RADIUS proxy
            items:
              $ref: '#/components/schemas/XiqRadiusProxyRealm'
    XiqInternalRadiusDevice:
      allOf:
      - $ref: '#/components/schemas/XiqViqEntity'
      - type: object
        description: The configuration of internal RADIUS device object
        required:
        - radius_server_id
        - radius_server_name
        - host_name
        properties:
          radius_server_id:
            type: integer
            description: The RADIUS server id
            format: int64
          radius_server_name:
            type: string
            description: The RADIUS server name
          host_name:
            type: string
            description: The RADIUS server device hostname
    XiqCertificateType:
      type: string
      enum:
      - CERT
      - KEY
      - CA
    PagedXiqInternalRadiusDevice:
      allOf:
      - $ref: '#/components/schemas/XiqPage'
      - type: object
        properties:
          data:
            type: array
            description: The data in the current page
            items:
              $ref: '#/components/schemas/XiqInternalRadiusDevice'
    XiqViqEntity:
      allOf:
      - $ref: '#/components/schemas/XiqBaseEntity'
      - type: object
        properties:
          org_id:
            type: integer
            description: The organization identifier, valid when enabling HIQ feature
            format: int64
        required:
        - org_id
    PagedXiqRadiusClientObject:
      allOf:
      - $ref: '#/components/schemas/XiqPage'
      - type: object
        properties:
          data:
            type: array
            description: The data in the current page
            items:
              $ref: '#/components/schemas/XiqRadiusClientObject'
    XiqRadsecProxy:
      allOf:
      - $ref: '#/components/schemas/XiqViqEntity'
      - type: object
        description: The configuration of RADSEC proxy
        properties:
          name:
            type: string
            description: The RADSEC proxy name.
          description:
            type: string
            description: The RADSEC proxy description.
          format_type:
            $ref: '#/components/schemas/XiqRadiusProxyFormatType'
          enable_inject_operator_name_attribute:
            type: boolean
            description: The flag for enable inject operator name attribute.
          operator_name_type:
            $ref: '#/components/schemas/XiqRadsecOperatorNameType'
          operator_name:
            type: string
            description: The RADSEC proxy operator name.
          realms:
            type: array
            description: The RADSEC realms of RADSEC proxy.
            items:
              $ref: '#/components/schemas/XiqRadsecProxyRealm'
    PagedXiqRadsecProxy:
      allOf:
      - $ref: '#/components/schemas/XiqPage'
      - type: object
        properties:
          data:
            type: array
            description: The data in the current page
            items:
              $ref: '#/components/schemas/XiqRadsecProxy'
    XiqRadsecNameFormatType:
      type: string
      description: The name format type of a RADSEC proxy.
      enum:
      - NAI
    PagedXiqCwp:
      allOf:
      - $ref: '#/components/schemas/XiqPage'
      - type: object
        properties:
          data:
            type: array
            description: The data in the current page
            items:
              $ref: '#/components/schemas/XiqCwp'
    XiqCreateExternalRadiusServerRequest:
      type: object
      required:
      - name
      - authentication_port
      - accounting_port
      - server_type
      - enable_a3
      properties:
        name:
          type: string
          description: The external RADIUS server name
        shared_secret:
          type: string
          description: The shared secret for the external RADIUS server (optional)
        authentication_port:
          maximum: 65535
          minimum: 1
          type: integer
          description: The authentication port for the external RADIUS server (1 ~ 65535).  The default for a External RADIUS server of type 'STANDARD', the default port is 1812.  For a External RADIUS server of type 'SECURE' the default port is 2083.
          format: int32
        accounting_port:
          maximum: 65535
          minimum: 1
          type: integer
          description: The accounting port for the external RADIUS server (1 ~ 65535). The default for a External RADIUS server of type 'STANDARD', the default port is 1813, For a External RADIUS server of type 'SECURE', the default port is 2083.
          format: int32
        server_type:
          $ref: '#/components/schemas/XiqRadiusServerType'
        ip_addr:
          type: string
          description: The IP address or hostname of the RADIUS server
        enable_a3:
          type: boolean
          description: Indicates whether this is an Extreme A3 RADIUS server or not, cannot be updated after creation. Please set it to false if it is not an Extreme A3 RADIUS server.
        enable_peer_discovery:
          type: boolean
          description: Indicates whether the RADIUS server allows devices to connect automatically  without manually defining their IP address or hostname.
        trust_point_id:
          type: integer
          description: The Certificate Bundle Trust Point ID.
          format: int64
        access_type:
          $ref: '#/components/schemas/XiqRadiusAccessType'
    XiqLdapServer:
      allOf:
      - $ref: '#/components/schemas/XiqBaseEntity'
      - type: object
        description: The common object - LDAP server
        required:
        - name
        properties:
          name:
            type: string
            description: The LDAP server name
          description:
            type: string
            description: The LDAP server description
          enable_tls:
            type: boolean
            description: The LDAP server is enabled TLS or not
          bind_dn:
            type: string
            description: The LDAP server bind DN name
          bind_dn_password:
            type: string
            description: The LDAP server bind DN password
          base_dn:
            type: string
            description: The RADIUS user base DN
          l3_address_profile_id:
            type: integer
            description: The L3 address profile ID
            format: int64
          protocol_type:
            $ref: '#/components/schemas/XiqLdapProtocolType'
          enable_strip_realm_name:
            type: boolean
            description: Enable strip realm name or not
          destination_port:
            type: integer
            description: The LDAP server destination port
            format: int32
          verification_mode:
            $ref: '#/components/schemas/XiqLdapServerVerificationMode'
          ca_certificate_id:
            type: integer
            description: The CA certificate ID
            format: int64
          client_certificate_id:
            type: integer
            description: The client certificate ID
            format: int64
          client_key_id:
            type: integer
            description: The client key ID
            format: int64
          client_key_password:
            type: string
            description: The LDAP server client key password
    XiqUpdateRadiusClientObjectRequest:
      type: object
      required:
      - name
      - enable_inject_operator_name_attribute
      - enable_message_authenticator_attribute
      - enable_permit_dynamic_authorization_message_change
      - retry_interval
      - accounting_interim_update_interval
      properties:
        name:
          type: string
          description: The RADIUS client object name.
        description:
          type: string
          description: The RADIUS client object description.
        enable_inject_operator_name_attribute:
          type: boolean
          description: The flag for enable Inject Operator Name Attribute
        enable_message_authenticator_attribute:
          type: boolean
          description: The flag for enable message authenticator attribute
        enable_permit_dynamic_authorization_message_change:
          type: boolean
          description: The flag for enable permit dynamic authorization message change
        retry_interval:
          maximum: 100000000
          minimum: 60
          type: integer
          description: The retry interval, 60 - 100000000 seconds
          format: int32
        accounting_interim_update_interval:
          maximum: 100000000
          minimum: 60
          type: integer
          description: The accounting interim update interval, 60 - 100000000 seconds
          format: int32
    XiqCreateRadiusClient:
      type: object
      description: The associate RADIUS client for RADIUS proxy
      properties:
        shared_secret:
          type: string
          description: The shared secret of RADIUS client
        description:
          type: string
          description: The RADIUS client description
        l3_address_profile_id:
          type: integer
          description: The associate L3 address profile ID
          format: int64
    XiqExternalRadiusServer:
      allOf:
      - $ref: '#/components/schemas/XiqViqEntity'
      - type: object
        description: The configuration of external RADIUS server object
        required:
        - name
        - authentication_port
        - accounting_port
        - server_type
        - enable_a3
        properties:
          name:
            type: string
            description: The external RADIUS server name
          shared_secret:
            type: string
            description: The shared secret for the external RADIUS server (optional)
          authentication_port:
            type: integer
            description: The authentication port for the external RADIUS server (1 ~ 65535).  The default for a External RADIUS server of type 'STANDARD', the default port is 1812. For a External RADIUS server of type 'SECURE', the default port is 2083.
            format: int32
          accounting_port:
            type: integer
            description: The accounting port for the external RADIUS server (1 ~ 65535). The default for a External RADIUS server of type 'STANDARD', the default port is 1813. For a External RADIUS server of type 'SECURE', the default port is 2083.
            format: int32
          server_type:
            $ref: '#/components/schemas/XiqRadiusServerType'
          ip_address:
            type: string
            description: The ip address or hostname of the RADIUS server, this is not allowed when Peer Discovery is enabled.
          enable_a3:
            type: boolean
            description: Indicates whether this is an Extreme A3 RADIUS server or not, cannot be updated after creation. Please set it to false if it is not an Extreme A3 RADIUS server.
          enable_peer_discovery:
            type: boolean
            description: Indicates whether the RADIUS server allows devices to connect automatically  without manually defining their IP address or hostname.
          trust_point:
            $ref: '#/components/schemas/XiqCertificateBundle'
          access_type:
            $ref: '#/components/schemas/XiqRadiusAccessType'
  parameters:
    page:
      name: page
      in: query
      description: Page number, min = 1
      required: false
      schema:
        minimum: 1
        type: integer
        format: int32
        default: 1
    limit:
      name: limit
      in: query
      description: Page Size, min = 1, max = 100
      required: false
      schema:
        maximum: 100
        minimum: 1
        type: integer
        format: int32
        default: 10
    id:
      name: id
      in: path
      description: The unique identifier
      required: true
      schema:
        type: integer
        format: int64
  responses:
    ErrorResponse:
      description: The generic ExtremeCloud IQ API error response
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/XiqError'
  securitySchemes:
    BearerAuth:
      type: http
      description: JSON Web Token (JWT) based authentication
      scheme: bearer
      bearerFormat: JWT
externalDocs:
  description: API Reference
  url: https://extremecloudiq.com/api-docs/api-reference.html
