openapi: 3.0.3
info:
  title: ExtremeCloud IQ Account Thread API
  description: 'ExtremeCloud IQ™ API allows customers and partners to create solutions for the management, monitoring, and provisioning

    of any ExtremeCloud IQ™ environment.


    All related resources and documentation are available at [ExtremeCloud IQ Developer Portal](https://developer.extremecloudiq.com/).

    Please check [Get Started and Tutorial](https://developer.extremecloudiq.com/documentation/) to understand how to use the APIs.


    Get the [latest OpenAPI definition](https://github.com/extremenetworks/ExtremeCloudIQ-OpenAPI/blob/main/xcloudiq-openapi.yaml)

    from [ExtremeCloud IQ OpenAPI GitHub repository](https://github.com/extremenetworks/ExtremeCloudIQ-OpenAPI).


    Please have a valid [ExtremeCloud IQ](https://extremecloudiq.com/) account before getting started.

    If you don''t have one, please [register a new account](https://www.extremenetworks.com/cloud-networking/).'
  termsOfService: https://www.extremenetworks.com/company/legal/terms-of-use/
  contact:
    name: Extreme Networks Support
    url: https://www.extremenetworks.com/support
    email: support@extremenetworks.com
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.html
  version: 25.9.0-36
servers:
- url: https://api.extremecloudiq.com
  description: ExtremeCloud IQ REST API Server
tags:
- name: Thread
  description: Thread Networks in ExtremeCloud IQ
paths:
  /thread/networks:
    get:
      tags:
      - Thread
      summary: Get active thread networks
      description: Get thread networks with atleast one device.
      externalDocs:
        description: API Reference
        url: https://extremecloudiq.com/api-docs/api-reference.html#_get_thread_networks
      operationId: getThreadNetworks
      parameters:
      - name: page
        in: query
        description: Page number, min = 1
        required: false
        schema:
          minimum: 1
          type: integer
          format: int32
          default: 1
      - name: folderId
        in: query
        description: Thread network config folder id
        required: true
        schema:
          type: integer
          format: int64
      - name: limit
        in: query
        description: Page Size, min = 1, max = 100
        required: false
        schema:
          maximum: 100
          minimum: 1
          type: integer
          format: int32
          default: 10
      - name: fields
        in: query
        description: The thread network config fields to return
        required: false
        schema:
          type: array
          items:
            type: string
            enum:
            - ID
            - CHANNEL
            - CHANNEL_MASK
            - EXT_PAN_ID
            - MESH_LOCAL_PREFIX
            - NETWORK_KEY
            - NETWORK_NAME
            - PAN_ID
            - PSKC
            - OBTAIN_NETWORK_KEY_ENABLED
            - NATIVE_COMMISSIONING_ENABLED
            - ROUTERS_ENABLED
            - EXTERNAL_COMMISSIONING_ENABLED
            - BEACONS_ENABLED
            - COMMERCIAL_COMMISSIONING_ENABLED
            - AUTONOMOUS_ENROLLMENT_ENABLED
            - NETWORK_KEY_PROVISIONING_ENABLED
            - NON_CCM_ROUTERS_ENABLED
            - ACTIVE_TIMESTAMP
      - name: views
        in: query
        description: The views to return thread network config fields
        required: false
        schema:
          type: array
          items:
            type: string
            enum:
            - BASIC
            - FULL
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/XiqThreadNetworks'
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
      - BearerAuth: []
  /thread/topology:
    get:
      tags:
      - Thread
      summary: Get thread network topology
      description: Get thread routers, neighboring routers and end-devices.
      externalDocs:
        description: API Reference
        url: https://extremecloudiq.com/api-docs/api-reference.html#_get_thread_network_topology
      operationId: getThreadNetworkTopology
      parameters:
      - name: networkConfigIds
        in: query
        description: Thread network config id
        required: true
        schema:
          type: array
          items:
            type: integer
            format: int64
      - name: routerFields
        in: query
        description: The thread router fields to return
        required: false
        schema:
          type: array
          items:
            $ref: '#/components/schemas/XiqThreadRouterField'
      - name: routerViews
        in: query
        description: The views to return thread router fields
        required: false
        schema:
          type: array
          items:
            $ref: '#/components/schemas/XiqThreadRouterField'
      - name: clientViews
        in: query
        description: The views to return client fields (Check fields for each view at XiqClientView schema)
        required: false
        schema:
          type: array
          items:
            $ref: '#/components/schemas/XiqClientView'
      - name: clientFields
        in: query
        description: The client fields to return
        required: false
        schema:
          type: array
          items:
            $ref: '#/components/schemas/XiqClientField'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/XiqThreadNetworkTopology'
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
      - BearerAuth: []
  /thread/routers:
    get:
      tags:
      - Thread
      summary: List thread routers
      description: List thread routers with pagination.
      externalDocs:
        description: API Reference
        url: https://extremecloudiq.com/api-docs/api-reference.html#_get_thread_routers
      operationId: getThreadRouters
      parameters:
      - name: ids
        in: query
        description: The thread router IDs
        required: true
        schema:
          type: array
          items:
            type: integer
            format: int64
      - name: page
        in: query
        description: Page number, min = 1
        required: false
        schema:
          minimum: 1
          type: integer
          format: int32
          default: 1
      - name: limit
        in: query
        description: Page Size, min = 1, max = 100
        required: false
        schema:
          maximum: 100
          minimum: 1
          type: integer
          format: int32
          default: 10
      - name: sortField
        in: query
        description: The sort field
        required: false
        schema:
          $ref: '#/components/schemas/ThreadRouterSortField'
      - name: sortOrder
        in: query
        description: The sort order (ascending by default)
        required: false
        schema:
          $ref: '#/components/schemas/XiqSortOrder'
      - name: views
        in: query
        description: The views to return thread router fields
        required: false
        schema:
          type: array
          items:
            $ref: '#/components/schemas/XiqThreadRouterView'
      - name: fields
        in: query
        description: The thread router fields to return
        required: false
        schema:
          type: array
          items:
            $ref: '#/components/schemas/XiqThreadRouterField'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PagedXiqThreadRouter'
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
      - BearerAuth: []
components:
  schemas:
    XiqThreadBorderRouterService:
      type: object
      properties:
        state:
          type: string
        nat64_local_prefix:
          type: string
        nat64_favored_prefix:
          type: string
        nat64_favored_preference:
          type: string
        nat64_omr_local_prefix:
          type: string
        nat64_omr_favored_prefix:
          type: string
        nat64_omr_favored_preference:
          type: string
        nat64_onlink_local_prefix:
          type: string
        nat64_onlink_favored_prefix:
          type: string
        nat64_onlink_favored_preference:
          type: string
      description: The thread border router service
    XiqThreadNetworkTopology:
      type: object
      properties:
        neighbors:
          type: array
          items:
            $ref: '#/components/schemas/XiqThreadRouterNeighbor'
        routers:
          type: array
          items:
            $ref: '#/components/schemas/XiqThreadRouter'
        clients:
          type: array
          items:
            $ref: '#/components/schemas/XiqClient'
      description: The thread network topology
    XiqLocationEntity:
      allOf:
      - $ref: '#/components/schemas/XiqViqEntity'
      - type: object
        properties:
          location_id:
            type: integer
            description: The location identifier
            format: int64
        required:
        - location_id
    XiqSortOrder:
      type: string
      enum:
      - ASC
      - DESC
    XiqClientField:
      type: string
      enum:
      - ID
      - CREATE_TIME
      - UPDATE_TIME
      - ORG_ID
      - ORG_NAME
      - LOCATION_ID
      - LOCATIONS
      - HOSTNAME
      - MAC_ADDRESS
      - IP_ADDRESS
      - IPV6_ADDRESS
      - OS_TYPE
      - DEVICE_ID
      - DEVICE_FUNCTION
      - DEVICE_NAME
      - USERNAME
      - USER_PROFILE_NAME
      - CONNECTED
      - ONLINE_TIME
      - OFFLINE_TIME
      - VLAN
      - CONNECTION_TYPE
      - SSID
      - PORT
      - BSSID
      - PORT_TYPE_NAME
      - INTERFACE_NAME
      - AUTH
      - ENCRYPTION_METHOD
      - CHANNEL
      - CLIENT_HEALTH
      - APPLICATION_HEALTH
      - NETWORK_HEALTH
      - RADIO_HEALTH
      - RSSI
      - SNR
      - RADIO_TYPE
      - WING_AP
      - VENDOR
      - MOBILITY
      - CATEGORY
      - DESCRIPTION
      - DEVICE_MAC_ADDRESS
      - ALIAS
      - PRODUCT_TYPE
      - MAKE
      - OS_VERSION
      - CONNECTED_TO
      - CONNECTION_DURATION
      - CAPTIVE_WEB_PORTAL
    XiqThreadNetworks:
      type: object
      properties:
        networks:
          type: array
          items:
            $ref: '#/components/schemas/XiqThreadNetworkConfig'
      description: Active thread networks
    XiqThreadNat64Service:
      type: object
      properties:
        prefix_manager_state:
          type: string
        translator_state:
          type: string
        translator_cidr:
          type: string
      description: The nat64 service on border router
    XiqThreadRouter:
      allOf:
      - $ref: '#/components/schemas/XiqBaseEntity'
      - type: object
        description: The Thread Router associate to ExtremeCloud IQ device
        properties:
          id:
            type: integer
            description: The unique identifier
            format: int64
          create_time:
            type: string
            description: The create time
            format: date-time
          update_time:
            type: string
            description: The last update time
            format: date-time
          org_id:
            type: integer
            description: The organization identifier, valid when enabling HIQ feature
            format: int64
          owner_id:
            type: integer
            description: The owner id
            format: int64
          device_id:
            type: integer
            description: The device unique identifier
            format: int64
          serial_number:
            type: string
            description: The device serial number
          eui64:
            type: string
            description: The Extended Unique Identifier
          ext_mac:
            type: string
            description: The Extended Mac Address
          rloc16:
            type: string
            description: The router RLOC16
          global_ipv6:
            type: string
            description: The global IPv6 address
          tx_power:
            type: integer
            description: The transmit power
            format: int32
          region:
            type: string
            description: The device region
          thread_platform:
            type: string
            description: The thread platform
          device_role:
            type: string
            description: The thread device role/state
          router_interface:
            $ref: '#/components/schemas/XiqThreadNetworkInterface'
          veth0:
            $ref: '#/components/schemas/XiqThreadNetworkInterface'
          network_data:
            $ref: '#/components/schemas/XiqThreadNetworkData'
          thread_mle_link_mode:
            $ref: '#/components/schemas/XiqThreadMleLinkMode'
          thread_version:
            $ref: '#/components/schemas/XiqThreadVersion'
          leader_service:
            $ref: '#/components/schemas/XiqThreadLeaderService'
          border_router_service:
            $ref: '#/components/schemas/XiqThreadBorderRouterService'
          backbone_border_router_service:
            $ref: '#/components/schemas/XiqThreadBackboneBorderRouterService'
          border_agent_service:
            $ref: '#/components/schemas/XiqThreadBorderAgentService'
          commissioner_service:
            $ref: '#/components/schemas/XiqThreadCommissionerService'
          nat64_service:
            $ref: '#/components/schemas/XiqThreadNat64Service'
          network_config:
            $ref: '#/components/schemas/XiqThreadNetworkConfig'
          active_clients:
            type: integer
            description: The count of active connected clients
            format: int32
          hostname:
            type: string
            description: The device hostname
          last_reported:
            type: string
            description: The last reported datetime
            format: date-time
          thread_connected:
            type: boolean
            description: Is router connected to thread network
    XiqThreadBackboneBorderRouterService:
      type: object
      properties:
        state:
          type: string
      description: The thread backbone border router service
    XiqClient:
      allOf:
      - $ref: '#/components/schemas/XiqDeviceEntity'
      - type: object
        properties:
          hostname:
            type: string
            description: The hostname of the client
          mac_address:
            type: string
            description: The MAC address of the client
          ip_address:
            type: string
            description: The IP address of the client
          ipv6_address:
            type: string
            description: The IPv6 address of the client
          os_type:
            type: string
            description: The OS type of the client
          username:
            type: string
            description: The username of the client.
          user_profile_name:
            type: string
            description: The user profile name of the client
          connected:
            type: boolean
            description: Client is connected or not
          online_time:
            type: string
            description: The online time for the client
            format: date-time
          offline_time:
            type: string
            description: The offline time for the client
            format: date-time
          vlan:
            type: integer
            description: The associate VLAN
            format: int32
          connection_type:
            type: integer
            description: The connection type
            format: int32
          ssid:
            type: string
            description: The SSID
          port:
            type: string
            description: The associate device port
          org_name:
            type: string
            description: The organization name
          device_function:
            type: integer
            description: The associated device function
            format: int32
          device_mac_address:
            type: string
            description: The associated device mac address
          device_name:
            type: string
            description: The associated device name
          auth:
            type: integer
            description: The authentication type
            format: int32
          channel:
            type: integer
            description: The channel value
            format: int32
          client_health:
            type: integer
            description: The health score of client
            format: int32
          application_health:
            type: integer
            description: The health score of application
            format: int32
          radio_health:
            type: integer
            description: The health score of radio
            format: int32
          network_health:
            type: integer
            description: The health score of network
            format: int32
          radio_type:
            type: integer
            description: 'The radio type. Represented by an integer code for each standard:

              - 1 - 2.4G

              - 2 - 5G

              - 3 - WIRED

              - 4 - 6G

              - 5 - THREAD'
            format: int32
          encryption_method:
            type: integer
            description: 'The encryption method, represented by an integer code for each encryption type:

              - -1 - N/A (Not applicable)

              - 0  - AES (Advanced Encryption Standard)

              - 1  - TKIP (Temporal Key Integrity Protocol)

              - 2  - WEP (Wired Equivalent Privacy)

              - 3  - NON (No encryption)

              - 4  - CCMP (Counter Mode with Cipher Block Chaining Message Authentication Code Protocol)

              - 5  - KEYGUARD (Keyguard encryption)

              - 6  - WEP128 (128-bit WEP encryption)

              - 7  - WEP64 (64-bit WEP encryption)

              - 8  - WAPI (WLAN Authentication and Privacy Infrastructure)

              - 9  - GCMP256 (256-bit Galois/Counter Mode Protocol)

              - 10 - NONE (No encryption)

              - 11 - PAP (Password Authentication Protocol)

              - 12 - MsCHAP (Microsoft Challenge Handshake Authentication Protocol)

              - 13 - EAP-MD5 (Extensible Authentication Protocol - MD5)

              - 14 - EAP-TLS (Extensible Authentication Protocol - Transport Layer Security)

              - 15 - PEAP (Protected Extensible Authentication Protocol)

              - 16 - TTLS (Tunneled Transport Layer Security)

              - 17 - TTLS-INNER-TUNNEL (Inner tunnel for TTLS)

              - 18 - PEAP-INNER-TUNNEL (Inner tunnel for PEAP)

              - 19 - EAP-FAST (Extensible Authentication Protocol - Flexible Authentication via Secure Tunneling)

              - 20 - EAP-LEAP (Lightweight Extensible Authentication Protocol)

              - 21 - EAP-RSA (Extensible Authentication Protocol - RSA)

              - 22 - EAP-SIM (Extensible Authentication Protocol - SIM)

              - 23 - EAP-AKA (Extensible Authentication Protocol - AKA)

              - 24 - EAP-TEAP (Extensible Authentication Protocol - Tunneled EAP)'
            format: int32
          mac_protocol:
            type: string
            description: "The MAC protocol.\n - 'N/A'\n - '802.11a'\n - '802.11b'\n - '802.11g'\n - '802.11na'\n - '802.11ng'\n - '802.11ac'\n - '802.11ax-2.4g'\n - '802.11ax-5g'\n - '802.3'\n - '802.11ax-6g'\n - '802.15.4'\n - '802.11be-2g'\n - '802.11be-5g'\n - '802.11be-6g'"
          interface_name:
            type: string
            description: The interface name
          bssid:
            type: string
            description: The bssid
          rssi:
            type: integer
            description: The RSSI
            format: int32
          snr:
            type: integer
            description: The SNR
            format: int32
          description:
            type: string
            description: The description of client
          category:
            type: string
            description: The category of client
          mobility:
            type: string
            description: The client mobility
          port_type_name:
            type: string
            description: The client port type name
          wing_ap:
            type: boolean
            description: Wing ap flag
          vendor:
            type: string
            description: The vendor of client
          locations:
            type: array
            description: The detailed location
            items:
              $ref: '#/components/schemas/XiqLocationLegend'
          productType:
            type: string
            description: The Category which describes the Extreme device types(For example:SR_2208P, AP_4000, AP_5010)
          alias:
            type: string
            maxLength: 255
            description: The alias of the client
    XiqClientView:
      type: string
      description: The logic collections of client fields<br/><br/><b>BASIC:</b> ID, ORG_ID, HOSTNAME, MAC_ADDRESS, IP_ADDRESS, IPV6_ADDRESS, OS_TYPE, DEVICE_ID,CONNECTED, ONLINE_TIME, OFFLINE_TIME, CONNECTION_TYPE, SSID, PORT<br/><b>FULL:</b> All fields<br/><b>STATUS:</b> ID, CONNECTED, ONLINE_TIME, OFFLINE_TIME<br/><b>DETAIL:</b> ID, CREATE_TIME, UPDATE_TIME, ORG_ID, ORG_NAME, LOCATION_ID, HOSTNAME, MAC_ADDRESS, IP_ADDRESS, IPV6_ADDRESS, OS_TYPE, DEVICE_ID, DEVICE_FUNCTION, DEVICE_NAME, DEVICE_MAC_ADDRESS, USERNAME, USER_PROFILE_NAME, CONNECTED, ONLINE_TIME, OFFLINE_TIME, VLAN, CONNECTION_TYPE, SSID, PORT, BSSID, PORT_TYPE_NAME, INTERFACE_NAME, AUTH, ENCRYPTION_METHOD, CHANNEL, RSSI, SNR, WING_AP, VENDOR, RADIO_TYPE, ALIAS, MAC_PROTOCOL, MAKE, OS_VERSION, CONNECTED_TO, CONNECTION_DURATION, CAPTIVE_WEB_PORTAL<br/><b>LOCATION:</b> ID, LOCATION_ID, LOCATIONS<br/><b>METRICS:</b> ID, CLIENT_HEALTH, APPLICATION_HEALTH, NETWORK_HEALTH, RADIO_HEALTH<br/><b>IOT:</b> ID, MOBILITY, CATEGORY, DESCRIPTION
      enum:
      - BASIC
      - FULL
      - STATUS
      - DETAIL
      - LOCATION
      - METRICS
      - IOT
    XiqThreadCommissionerService:
      type: object
      properties:
        state:
          type: string
      description: The commissioner service
    XiqErrorParams:
      type: object
      description: Error parameters
      properties:
        field:
          type: string
          description: The error field
        value:
          type: string
          description: The error value
    XiqThreadNetDataRoute:
      type: object
      properties:
        prefix:
          type: string
        nat64:
          type: boolean
        stable:
          type: boolean
        route_preference:
          type: string
        added_by_rloc16:
          type: string
        added_by_ext_mac:
          type: string
    XiqThreadRouterView:
      type: string
      enum:
      - BASIC
      - DETAIL
      - FULL
    XiqBaseEntity:
      required:
      - id
      - create_time
      - update_time
      type: object
      properties:
        id:
          type: integer
          description: The unique identifier
          format: int64
        create_time:
          type: string
          description: The create time
          format: date-time
        update_time:
          type: string
          description: The last update time
          format: date-time
    XiqThreadRouterNeighbor:
      type: object
      properties:
        parent_device_id:
          type: integer
          format: int64
        child_device_id:
          type: integer
          format: int64
        connection_status:
          type: integer
          format: int32
        last_reported_time:
          type: integer
          format: int64
      description: The Thread Router neighbors associate to ExtremeCloud IQ device
    XiqError:
      type: object
      properties:
        error_code:
          type: string
          description: The error code
        error_id:
          type: string
          description: The error ID for internal troubleshooting
        error_message:
          type: string
          description: The error detailed message
        error_message_code:
          type: string
          description: The error message code
        error_message_description:
          type: string
          description: The error message description
        error_params:
          $ref: '#/components/schemas/XiqErrorParams'
      required:
      - error_code
      - error_id
      - error_message
    XiqThreadBorderAgentService:
      type: object
      properties:
        state:
          type: string
        udp_port:
          type: integer
          format: int32
      description: The thread backbone agent service
    XiqThreadIpv6Setting:
      type: object
      properties:
        address:
          type: string
        scope:
          type: string
        cast:
          type: string
        type:
          type: string
      description: The thread client IP addresses
    XiqThreadNetDataPrefix:
      type: object
      properties:
        prefix:
          type: string
        route_preference:
          type: string
        added_by_rloc16:
          type: string
        added_by_ext_mac:
          type: string
        preferred:
          type: boolean
        slaac:
          type: boolean
        dhcp:
          type: boolean
        configure:
          type: boolean
        default_route:
          type: boolean
        on_mesh:
          type: string
        stable:
          type: boolean
        nd_dns:
          type: boolean
        dp:
          type: boolean
    PagedXiqThreadRouter:
      allOf:
      - $ref: '#/components/schemas/XiqPage'
      - type: object
        properties:
          data:
            type: array
            description: The data in the current page
            items:
              $ref: '#/components/schemas/XiqThreadRouter'
    XiqPage:
      required:
      - count
      - page
      - total_count
      - total_pages
      type: object
      properties:
        page:
          type: integer
          description: The current page number
          format: int32
        count:
          type: integer
          description: The element count of the current page
          format: int32
        total_pages:
          type: integer
          description: The total page number based on request page size
          format: int32
        total_count:
          type: integer
          description: The total element count
          format: int64
    XiqThreadNetDataService:
      type: object
      properties:
        enterprise_number:
          type: integer
          format: int64
        service_data:
          type: string
        server_data:
          type: string
        stable:
          type: boolean
        added_by_rloc16:
          type: string
        added_by_ext_mac:
          type: string
    XiqViqEntity:
      allOf:
      - $ref: '#/components/schemas/XiqBaseEntity'
      - type: object
        properties:
          org_id:
            type: integer
            description: The organization identifier, valid when enabling HIQ feature
            format: int64
        required:
        - org_id
    XiqThreadNetworkData:
      type: object
      properties:
        length:
          type: integer
          format: int32
        max_length:
          type: integer
          format: int32
        net_data_on_mesh_prefixes:
          type: array
          items:
            $ref: '#/components/schemas/XiqThreadNetDataPrefix'
        net_data_routes:
          type: array
          items:
            $ref: '#/components/schemas/XiqThreadNetDataRoute'
        net_data_services:
          type: array
          items:
            $ref: '#/components/schemas/XiqThreadNetDataService'
      description: The thread network data
    XiqThreadRouterField:
      type: string
      enum:
      - DEVICE_ID
      - SERIAL_NUMBER
      - EUI64
      - EXT_MAC
      - RLOC16
      - GLOBAL_IPV6
      - TX_POWER
      - REGION
      - THREAD_PLATFORM
      - DEVICE_ROLE
      - ROUTER_INTERFACE
      - VETH0
      - NETWORK_DATA
      - THREAD_MLE_LINK_MODE
      - THREAD_VERSION
      - LEADER_SERVICE
      - BORDER_ROUTER_SERVICE
      - BACKBONE_BORDER_ROUTER_SERVICE
      - BORDER_AGENT_SERVICE
      - COMMISSIONER_SERVICE
      - NAT64_SERVICE
      - NETWORK_CONFIG
      - OWNER_ID
      - ORG_ID
      - ID
      - CREATE_TIME
      - UPDATE_TIME
      - ACTIVE_CLIENTS
      - HOSTNAME
      - LAST_REPORTED
      - THREAD_CONNECTED
    XiqThreadNetworkConfig:
      type: object
      properties:
        id:
          type: integer
          description: The unique identifier
          format: int64
        channel:
          type: integer
          description: The network channel
          format: int32
        channel_mask:
          type: string
          description: The network channel mask
        ext_pan_id:
          type: string
          description: The unique extended pan id
        mesh_local_prefix:
          type: string
          description: The mesh local prefix
        network_key:
          type: string
          description: The thread network key
        network_name:
          type: string
          description: The thread network name
        pan_id:
          type: string
          description: The pan id
        pskc:
          type: string
          description: The Pre-Shared Key for the Commissioner
        obtain_network_key_enabled:
          type: boolean
        native_commissioning_enabled:
          type: boolean
        routers_enabled:
          type: boolean
        external_commissioning_enabled:
          type: boolean
        beacons_enabled:
          type: boolean
        commercial_commissioning_enabled:
          type: boolean
        autonomous_enrollment_enabled:
          type: boolean
        network_key_provisioning_enabled:
          type: boolean
        non_ccm_routers_enabled:
          type: boolean
        active_timestamp:
          type: integer
          format: int32
      description: The thread network configuration and security policy
    ThreadRouterSortField:
      type: string
      description: All available thread router sort fields
      enum:
      - SERIAL_NUMBER
      - EUI64
      - EXT_MAC
      - RLOC16
      - GLOBAL_IPV6
      - TX_POWER
      - REGION
      - THREAD_PLATFORM
      - DEVICE_ROLE
      - ROUTER_INTERFACE_NAME
      - ROUTER_INTERFACE_IS_ACTIVE
      - ROUTER_INTERFACE_IS_BROADCAST
      - ROUTER_INTERFACE_IS_LOOPBACK
      - ROUTER_INTERFACE_IS_POINT_TO_POINT
      - ROUTER_INTERFACE_IS_RUNNING
      - ROUTER_INTERFACE_IS_ARP
      - ROUTER_INTERFACE_IS_PROMISC
      - ROUTER_INTERFACE_IS_ALL_MULTI
      - ROUTER_INTERFACE_IS_MULTICAST
      - ROUTER_INTERFACE_IS_DYNAMIC
      - ROUTER_INTERFACE_MTU
      - ROUTER_INTERFACE_HW_MAC
      - ROUTER_INTERFACE_IPV4
      - ROUTER_INTERFACE_IPV4_MASK
      - ROUTER_INTERFACE_IPV4_BROADCAST
      - VETH0_INTERFACE_NAME
      - VETH0_IS_ACTIVE
      - VETH0_IS_BROADCAST
      - VETH0_IS_LOOPBACK
      - VETH0_IS_POINT_TO_POINT
      - VETH0_IS_RUNNING
      - VETH0_IS_ARP
      - VETH0_IS_PROMISC
      - VETH0_IS_ALL_MULTI
      - VETH0_IS_MULTICAST
      - VETH0_IS_DYNAMIC
      - VETH0_MTU
      - VETH0_HW_MAC
      - VETH0_IPV4
      - VETH0_IPV4_MASK
      - VETH0_IPV4_BROADCAST
      - NETWORK_DATA_LENGTH
      - NETWORK_DATA_MAX_LENGTH
      - RX_ON_WHEN_IDLE
      - FULL_THREAD_DEVICE
      - FULL_NETWORK_DATA
      - THREAD_VERSION
      - BUILD_VERSION
      - API_VERSION
      - RCP_VERSION
      - LEADER_PARTITION_ID
      - LEADER_WEIGHTING
      - LEADER_FULL_NETWORK_DATA_VERSION
      - LEADER_STABLE_NETWORK_DATA_VERSION
      - BORDER_ROUTER_STATE
      - BORDER_NAT64_LOCAL_PREFIX
      - BORDER_NAT64_FAVORED_PREFIX
      - BORDER_NAT64_FAVORED_PREFERENCE
      - BORDER_NAT64_0MR_LOCAL_PREFIX
      - BORDER_NAT64_0MR_FAVORED_PREFIX
      - BORDER_NAT64_0MR_FAVORED_PREFERENCE
      - BORDER_NAT64_640N_LINK_LOCAL_PREFIX
      - BORDER_NAT64_640N_LINK_FAVORED_PREFIX
      - BORDER_NAT64_640N_LINK_FAVORED_PREFERENCE
      - BACKBONE_BORDER_ROUTER_STATE
      - BORDER_AGENT_STATE
      - BORDER_AGENT_UDP_PORT
      - COMMISSIONER_STATE
      - NAT64_PREFIX_MANAGER_STATE
      - NAT64_TRANSLATOR_STATE
      - NAT64_TRANSLATOR_CIDR
      - HOSTNAME
    XiqThreadMleLinkMode:
      type: object
      properties:
        rx_on_when_idle:
          type: boolean
        full_thread_device:
          type: boolean
        full_network_data:
          type: boolean
      description: The thread MLE Link Mode configuration
    XiqThreadLeaderService:
      type: object
      properties:
        partition_id:
          type: integer
          format: int64
        weighting:
          type: integer
          format: int32
        full_network_data_version:
          type: integer
          format: int32
        stable_network_data_version:
          type: integer
          format: int32
      description: The thread leader service
    XiqDeviceEntity:
      allOf:
      - $ref: '#/components/schemas/XiqLocationEntity'
      - type: object
        properties:
          device_id:
            type: integer
            description: The device identifier
            format: int64
        required:
        - device_id
    XiqLocationLegend:
      type: object
      description: The simple location information
      properties:
        id:
          type: integer
          description: The location ID
          format: int64
        name:
          type: string
          description: The location name
    XiqThreadNetworkInterface:
      type: object
      properties:
        interface_name:
          type: string
        is_active:
          type: boolean
        is_broadcast:
          type: boolean
        is_loopback:
          type: boolean
        is_point_to_point:
          type: boolean
        is_running:
          type: boolean
        is_arp:
          type: boolean
        is_promisc:
          type: boolean
        is_all_multi:
          type: boolean
        is_multicast:
          type: boolean
        is_dynamic:
          type: boolean
        mtu:
          type: integer
          format: int32
        hw_mac_address:
          type: string
        ipv4:
          type: string
        ipv4_mask:
          type: string
        ipv4_broadcast:
          type: string
        ipv6_settings:
          type: array
          items:
            $ref: '#/components/schemas/XiqThreadIpv6Setting'
      description: The thread veth0 network interface
    XiqThreadVersion:
      type: object
      properties:
        thread_version:
          type: string
        build_version:
          type: string
        api_version:
          type: string
        rcp_version:
          type: string
      description: The thread version
  responses:
    ErrorResponse:
      description: The generic ExtremeCloud IQ API error response
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/XiqError'
  securitySchemes:
    BearerAuth:
      type: http
      description: JSON Web Token (JWT) based authentication
      scheme: bearer
      bearerFormat: JWT
externalDocs:
  description: API Reference
  url: https://extremecloudiq.com/api-docs/api-reference.html
