openapi: 3.2.0
info:
  title: ExtremeCloud IQ Essentials - ExtremeLocation API
  description: 'ExtremeCloud IQ™ API allows customers and partners to create solutions for the management, monitoring, and provisioning

    of any ExtremeCloud IQ™ environment.'
  termsOfService: https://www.extremenetworks.com/company/legal/terms-of-use/
  contact:
    name: Extreme Networks Support
    url: https://www.extremenetworks.com/support
    email: support@extremenetworks.com
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.html
  version: 25.9.0-36
servers:
- url: https://api.extremecloudiq.com
  description: ExtremeCloud IQ REST API Server
tags:
- name: Essentials - ExtremeLocation
  description: The ExtremeLocation and Analytics API
paths:
  /essentials/eloc/clients/{clientMac}/last-known-location:
    get:
      tags:
      - Essentials - ExtremeLocation
      summary: Get the last known location of the client
      description: Get the last known location of the client on the floor plan.
      externalDocs:
        description: API Reference
        url: https://extremecloudiq.com/api-docs/api-reference.html#_eloc_clients_lastknown_location_by_macAddress_for_one_client
      operationId: elocLastKnownClientLocation
      parameters:
      - $ref: '#/components/parameters/mac'
      - $ref: '#/components/parameters/floorId'
      - $ref: '#/components/parameters/parentId'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/XiqEssentialsElocClientLastknownLocation'
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
      - BearerAuth: []
components:
  parameters:
    mac:
      name: clientMac
      in: path
      description: The mac address of client
      required: true
      schema:
        type: string
    floorId:
      in: query
      description: The location ID of the floor
      name: floorId
      required: true
      schema:
        type: string
    parentId:
      in: query
      description: The location ID of the floor's parent
      name: parentId
      required: true
      schema:
        type: string
  schemas:
    XiqErrorParams:
      type: object
      description: Error parameters
      properties:
        field:
          type: string
          description: The error field
        value:
          type: string
          description: The error value
    XiqEssentialsElocClientLastknownLocation:
      type: object
      description: The client's last known location on the floor plan
      properties:
        timestamp:
          type: string
          description: The located client's last known timestamp in format of date, time and abbreviated timezone
          format: date-time
        x:
          type: number
          description: The located client's last known horizontal value on the floor plan
          format: double
        y:
          type: number
          description: The located client's last known vertical value on the floor plan
          format: double
    XiqError:
      type: object
      properties:
        error_code:
          type: string
          description: The error code
        error_id:
          type: string
          description: The error ID for internal troubleshooting
        error_message:
          type: string
          description: The error detailed message
        error_message_code:
          type: string
          description: The error message code
        error_message_description:
          type: string
          description: The error message description
        error_params:
          $ref: '#/components/schemas/XiqErrorParams'
      required:
      - error_code
      - error_id
      - error_message
  responses:
    ErrorResponse:
      description: The generic ExtremeCloud IQ API error response
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/XiqError'
  securitySchemes:
    BearerAuth:
      type: http
      description: JSON Web Token (JWT) based authentication
      scheme: bearer
      bearerFormat: JWT
externalDocs:
  description: API Reference
  url: https://extremecloudiq.com/api-docs/api-reference.html
