openapi: 3.0.3
info:
  title: ExtremeCloud IQ Account Dashboard - Wired Usage and Capacity API
  description: 'ExtremeCloud IQ™ API allows customers and partners to create solutions for the management, monitoring, and provisioning

    of any ExtremeCloud IQ™ environment.


    All related resources and documentation are available at [ExtremeCloud IQ Developer Portal](https://developer.extremecloudiq.com/).

    Please check [Get Started and Tutorial](https://developer.extremecloudiq.com/documentation/) to understand how to use the APIs.


    Get the [latest OpenAPI definition](https://github.com/extremenetworks/ExtremeCloudIQ-OpenAPI/blob/main/xcloudiq-openapi.yaml)

    from [ExtremeCloud IQ OpenAPI GitHub repository](https://github.com/extremenetworks/ExtremeCloudIQ-OpenAPI).


    Please have a valid [ExtremeCloud IQ](https://extremecloudiq.com/) account before getting started.

    If you don''t have one, please [register a new account](https://www.extremenetworks.com/cloud-networking/).'
  termsOfService: https://www.extremenetworks.com/company/legal/terms-of-use/
  contact:
    name: Extreme Networks Support
    url: https://www.extremenetworks.com/support
    email: support@extremenetworks.com
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.html
  version: 25.9.0-36
servers:
- url: https://api.extremecloudiq.com
  description: ExtremeCloud IQ REST API Server
tags:
- name: Dashboard - Wired Usage and Capacity
  description: Wired Usage and Capacity
paths:
  /dashboard/wired/usage-capacity/grid:
    post:
      tags:
      - Dashboard - Wired Usage and Capacity
      summary: Wired Usage and Capacity grid
      description: Returns information related to usage and capacity for wired devices based on the provided filters. The result can be filtered by sites.
      externalDocs:
        description: API Reference
        url: https://extremecloudiq.com/api-docs/api-reference.html#_post_wired_usage_capacity_grid
      operationId: wiredUsageCapacityGrid
      parameters:
      - $ref: '#/components/parameters/page'
      - $ref: '#/components/parameters/limit'
      - name: keyword
        in: query
        description: The keyword to search (hostname, IP or site)
        required: false
        schema:
          type: string
      - name: sortField
        in: query
        description: The field used for sorting.
        required: false
        schema:
          $ref: '#/components/schemas/XiqWiredUsageCapacitySortField'
      - name: sortOrder
        in: query
        description: The sort order
        required: false
        schema:
          $ref: '#/components/schemas/XiqSortOrder'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                site_ids:
                  description: List of site IDs to filter usage and capacity grid
                  type: array
                  items:
                    type: integer
                    format: int64
                device_ids:
                  description: List of device IDs to filter usage and capacity grid
                  type: array
                  items:
                    type: integer
                    format: int64
                filter_field:
                  description: The filters available for usage and capacity grid
                  type: array
                  items:
                    type: string
                    format: enum
                    $ref: '#/components/schemas/XiqWiredUsageCapacityFilter'
      responses:
        '200':
          description: Returns the response for usage and capacity grid
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PagedXiqWiredUsageCapacityGridResponse'
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
      - BearerAuth: []
  /dashboard/wired/usage-capacity/usage-utilization:
    post:
      tags:
      - Dashboard - Wired Usage and Capacity
      summary: Wired devices total utilized bandwidth
      description: Returns total bandwidth utilized by wired devices based on the provided filters. The result can be filtered by sites.
      externalDocs:
        description: API Reference
        url: https://extremecloudiq.com/api-docs/api-reference.html#_post_wired_usage_capacity_usage_utilization
      operationId: wiredUsageCapacityUsageUtilization
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                site_ids:
                  description: List of site IDs to filter total bandwidth utilized by wired devices
                  type: array
                  items:
                    type: integer
                    format: int64
      responses:
        '200':
          description: Returns total bandwidth utilized by wired devices based on the provided filters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/XiqWiredUsageCapacityUsageUtilization'
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
      - BearerAuth: []
  /dashboard/wired/usage-capacity/wired-throughput:
    post:
      tags:
      - Dashboard - Wired Usage and Capacity
      summary: Wired devices throughput
      description: Returns the throughput for wired devices based on the provided filters. The result can be filtered by sites.
      externalDocs:
        description: API Reference
        url: https://extremecloudiq.com/api-docs/api-reference.html#_post_wired_usage_capacity_throughput
      operationId: wiredUsageCapacityThroughput
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                site_ids:
                  description: List of site IDs to filter throughput for wired devices
                  type: array
                  items:
                    type: integer
                    format: int64
      responses:
        '200':
          description: Returns the throughput for wired devices based on the provided filters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/XiqWiredUsageCapacityThroughput'
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
      - BearerAuth: []
  /dashboard/wired/usage-capacity/wired-congestion:
    post:
      tags:
      - Dashboard - Wired Usage and Capacity
      summary: Wired devices congestion
      description: Returns the congestion for wired devices based on the provided filters. The result can be filtered by sites.
      externalDocs:
        description: API Reference
        url: https://extremecloudiq.com/api-docs/api-reference.html#_post_wired_usage_capacity_congestion
      operationId: wiredUsageCapacityCongestion
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                site_ids:
                  description: List of site IDs to filter the congestion for wired devices
                  type: array
                  items:
                    type: integer
                    format: int64
      responses:
        '200':
          description: Returns the congestion for wired devices based on the provided filters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/XiqWiredUsageCapacityCongestion'
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
      - BearerAuth: []
components:
  schemas:
    PagedXiqWiredUsageCapacityGridResponse:
      allOf:
      - $ref: '#/components/schemas/XiqPage'
      - type: object
        properties:
          data:
            type: array
            description: The data in the current page
            items:
              $ref: '#/components/schemas/XiqWiredUsageCapacityGridResponse'
    XiqWiredUsageCapacityUsageUtilization:
      type: object
      properties:
        total_bandwidth_utilized:
          type: integer
          format: int64
          description: Total utilized bandwidth in Bytes
    XiqError:
      type: object
      properties:
        error_code:
          type: string
          description: The error code
        error_id:
          type: string
          description: The error ID for internal troubleshooting
        error_message:
          type: string
          description: The error detailed message
        error_message_code:
          type: string
          description: The error message code
        error_message_description:
          type: string
          description: The error message description
        error_params:
          $ref: '#/components/schemas/XiqErrorParams'
      required:
      - error_code
      - error_id
      - error_message
    XiqWiredUsageCapacityFilter:
      description: The filters available for usage and capacity grid
      enum:
      - TOTAL_QUEUE_CONGESTION_PKTS
    XiqWiredUsageCapacityCongestion:
      type: object
      properties:
        total_queue_tx_packets:
          type: integer
          format: int64
          description: Total number of transmitted packets on all QOS queues
        total_queue_congestion_packets:
          type: integer
          format: int64
          description: Total number of packets dropped due to congestion on all QOS queues
        total_congestion_percentage:
          type: integer
          format: int64
          description: Percentage of packets dropped due to congestion vs total number of transmitted packets on all QOS queues
    XiqWiredUsageCapacityGridResponse:
      type: object
      properties:
        device_id:
          type: integer
          format: int64
          description: The unique device identifier
        device_hostname:
          type: string
          description: The hostname of the device
        device_ip:
          type: string
          description: The IP address of the device
        is_stack:
          type: boolean
          description: True if the device is a stack otherwise false
        site:
          type: string
          description: Site location of the device
        building:
          type: string
          description: The building where the device is located
        floor:
          type: string
          description: The floor where the device is located
        total_clients_count:
          type: integer
          format: int64
          description: Total number of clients of the device
        total_issue_clients_count:
          type: integer
          format: int64
          description: Total number of clients with issues of the device
        total_bandwidth_utilized:
          type: integer
          format: int64
          description: Total utilized bandwidth in Bytes
        total_throughput_rx:
          type: integer
          format: int64
          description: Total Rx throughput in packets per second
        total_throughput_tx:
          type: integer
          format: int64
          description: Total Tx throughput in packets per second
        total_unicast_pkts:
          type: integer
          format: int32
          description: The percentage of unicast packets from total number of packets
        total_multicast_pkts:
          type: integer
          format: int32
          description: The percentage of multicast packets from total number of packets
        total_broadcast_pkts:
          type: integer
          format: int32
          description: The percentage of broadcast packets from total number of packets
        total_queue_tx_pkts:
          type: integer
          format: int64
          description: Total number of transmitted packets on all QOS queues
        total_queue_congestion_pkts:
          type: integer
          format: int64
          description: Total number of packets dropped due to congestion on all QOS queues
        total_packets_count:
          type: integer
          format: int64
          description: Total number of unicast, multicast and broadcast packets
    XiqSortOrder:
      type: string
      enum:
      - ASC
      - DESC
    XiqErrorParams:
      type: object
      description: Error parameters
      properties:
        field:
          type: string
          description: The error field
        value:
          type: string
          description: The error value
    XiqPage:
      required:
      - count
      - page
      - total_count
      - total_pages
      type: object
      properties:
        page:
          type: integer
          description: The current page number
          format: int32
        count:
          type: integer
          description: The element count of the current page
          format: int32
        total_pages:
          type: integer
          description: The total page number based on request page size
          format: int32
        total_count:
          type: integer
          description: The total element count
          format: int64
    XiqWiredUsageCapacitySortField:
      type: string
      title: WiredUsageAndCapacitySortField
      description: Pre-defined fields for usage and capacity sorting - DEVICE_HOSTNAME - DEVICE_IP - SITE - TOTAL_CLIENTS_COUNT - TOTAL_ISSUE_CLIENTS_COUNT - TOTAL_BANDWIDTH_UTILIZED - TOTAL_THROUGHPUT_RX - TOTAL_THROUGHPUT_TX - TOTAL_UNICAST_PACKETS - TOTAL_MULTICAST_PACKETS - TOTAL_BROADCAST_PACKETS - TOTAL_QUEUE_TX_PKTS - TOTAL_QUEUE_CONGESTION_PKTS
      example: TOTAL_BANDWIDTH_UTILIZED
    XiqWiredUsageCapacityThroughput:
      type: object
      properties:
        total_packets_count:
          type: integer
          format: int64
          description: Total number of packets
        unicast_utilization_percentage:
          type: integer
          format: int32
          description: Percentage of unicast packets from total number of packets
        multicast_utilization_percentage:
          type: integer
          format: int32
          description: Percentage of multicast packets from total number of packets
        broadcast_utilization_percentage:
          type: integer
          format: int32
          description: Percentage of broadcast packets from total number of packets
  parameters:
    page:
      name: page
      in: query
      description: Page number, min = 1
      required: false
      schema:
        minimum: 1
        type: integer
        format: int32
        default: 1
    limit:
      name: limit
      in: query
      description: Page Size, min = 1, max = 100
      required: false
      schema:
        maximum: 100
        minimum: 1
        type: integer
        format: int32
        default: 10
  responses:
    ErrorResponse:
      description: The generic ExtremeCloud IQ API error response
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/XiqError'
  securitySchemes:
    BearerAuth:
      type: http
      description: JSON Web Token (JWT) based authentication
      scheme: bearer
      bearerFormat: JWT
externalDocs:
  description: API Reference
  url: https://extremecloudiq.com/api-docs/api-reference.html
