openapi: 3.0.3
info:
  title: ExtremeCloud IQ Account Client - Details API
  description: 'ExtremeCloud IQ™ API allows customers and partners to create solutions for the management, monitoring, and provisioning

    of any ExtremeCloud IQ™ environment.


    All related resources and documentation are available at [ExtremeCloud IQ Developer Portal](https://developer.extremecloudiq.com/).

    Please check [Get Started and Tutorial](https://developer.extremecloudiq.com/documentation/) to understand how to use the APIs.


    Get the [latest OpenAPI definition](https://github.com/extremenetworks/ExtremeCloudIQ-OpenAPI/blob/main/xcloudiq-openapi.yaml)

    from [ExtremeCloud IQ OpenAPI GitHub repository](https://github.com/extremenetworks/ExtremeCloudIQ-OpenAPI).


    Please have a valid [ExtremeCloud IQ](https://extremecloudiq.com/) account before getting started.

    If you don''t have one, please [register a new account](https://www.extremenetworks.com/cloud-networking/).'
  termsOfService: https://www.extremenetworks.com/company/legal/terms-of-use/
  contact:
    name: Extreme Networks Support
    url: https://www.extremenetworks.com/support
    email: support@extremenetworks.com
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.html
  version: 25.9.0-36
servers:
- url: https://api.extremecloudiq.com
  description: ExtremeCloud IQ REST API Server
tags:
- name: Client - Details
  description: The details of client associate to the devices of ExtremeCloud IQ
paths:
  /client-details/topology/client-trail/{macAddress}:
    get:
      tags:
      - Client - Details
      summary: Client Trail Topology
      description: Return the Nodes and Links to draw the topology for client.
      externalDocs:
        description: API Reference
        url: https://extremecloudiq.com/api-docs/api-reference.html#_client_details_topology
      operationId: clientDetailsTopology
      parameters:
      - name: macAddress
        in: path
        description: The Mac Address of Client
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/client_details_topology'
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
      - BearerAuth: []
  /client-details/overview/info/{clientId}:
    get:
      tags:
      - Client - Details
      summary: Client Details Overview
      description: Return the Details for the clients.
      externalDocs:
        description: API Reference
        url: https://extremecloudiq.com/api-docs/api-reference.html#_get_client_details_info
      operationId: clientDetailsOverview
      parameters:
      - name: clientId
        in: path
        description: The Id of Client
        required: true
        schema:
          type: integer
          format: int64
      - name: startTime
        in: query
        description: The start time for the data to be returned (in milliseconds since epoch)
        required: false
        schema:
          type: integer
          format: int64
      - name: endTime
        in: query
        description: The end time for the data to be returned (in milliseconds since epoch)
        required: false
        schema:
          type: integer
          format: int64
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/client_details_overview'
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
      - BearerAuth: []
components:
  schemas:
    topology_node_poe_info:
      type: object
      description: Poe Info of Topology Node
      properties:
        powerState:
          type: object
        unit_power_available:
          type: number
          format: double
        unit_power_consumed:
          type: number
          format: double
        unit_power_threshold:
          type: number
          format: double
        poe_power_available:
          type: number
          format: double
        poe_power_consumed:
          type: number
          format: double
        poe_power_threshold:
          type: number
          format: double
    XiqError:
      type: object
      properties:
        error_code:
          type: string
          description: The error code
        error_id:
          type: string
          description: The error ID for internal troubleshooting
        error_message:
          type: string
          description: The error detailed message
        error_message_code:
          type: string
          description: The error message code
        error_message_description:
          type: string
          description: The error message description
        error_params:
          $ref: '#/components/schemas/XiqErrorParams'
      required:
      - error_code
      - error_id
      - error_message
    topology_position:
      type: object
      description: Position for Topology Node
      properties:
        x:
          type: integer
          format: dobule
        y:
          type: integer
          format: double
    client_details_topology:
      type: object
      description: The Topology for Client
      properties:
        links:
          type: array
          items:
            $ref: '#/components/schemas/topology_link'
        nodes:
          type: array
          items:
            $ref: '#/components/schemas/topology_node'
        baseline:
          type: boolean
        user_initiated:
          type: boolean
        created_at:
          type: integer
          format: int64
        zoom:
          type: integer
          format: double
        pan:
          $ref: '#/components/schemas/topology_position'
        neighbors:
          type: array
          items:
            $ref: '#/components/schemas/topology_neighbor'
    topology_node:
      type: object
      description: The Topology Node
      properties:
        id:
          type: integer
        hostname:
          type: string
        mac_address:
          type: string
        ip_address:
          type: string
        port_number:
          type: string
        radio_info:
          type: string
        health_score:
          type: integer
        client_count:
          type: integer
          format: int64
        last_node:
          type: boolean
        topology_start_node:
          type: boolean
        connected:
          type: boolean
        vlan_info:
          $ref: '#/components/schemas/topology_node_vlan'
        type:
          type: string
          enum:
          - WIRELESS_CLIENT
          - WIRED_CLIENT
          - UNKNOWN
          - AP
          - MESHAP
          - PORTALAP
          - SWITCH
          - ROUTER
          - VAASL2VG
          - VAASL3VG
          - GATEWAY
          - STACK
          - APASROUTER
          - XMCSERVER
        critical_alarms:
          type: integer
          format: int64
        not_current_location_node:
          type: boolean
        unknown_device:
          $ref: '#/components/schemas/topology_unknown_device'
        wired_interface_name:
          type: string
        connected_port:
          type: string
        stack_member_info:
          type: array
          items:
            $ref: '#/components/schemas/topology_stack_member_info'
        make:
          type: string
        position:
          $ref: '#/components/schemas/topology_position'
        poe_info:
          $ref: '#/components/schemas/topology_node_poe_info'
        product_type:
          type: string
        is_locally_managed:
          type: boolean
        sim_type:
          type: string
    topology_neighbor:
      type: object
      description: Neighbor of Topology nodes
      properties:
        device_id:
          type: integer
          format: int64
        hostname:
          type: string
        ip_address:
          type: string
        mac_address:
          type: string
        rssi:
          type: integer
          format: int64
        connection_failure_reason:
          type: string
          enum:
          - OTHER
          - ABORT_FROM_OS
          - DEASSOC_FROM_AP
          - DEAUTH_FROM_AP
          - INTERNAL_TERMINATION
          - INVALID_CAPABILITIES
          - ASSOC_FAILURE_802_11
          - AUTH_FAILURE_802_11
          - TX_RX_FAILURE_REASON
    topology_stack_member_info:
      type: object
      description: Details of Topology Node stack vlan_info
      properties:
        stack_member_id:
          type: integer
          format: int64
        device_id:
          type: integer
          format: int64
        serial_number:
          type: string
        unit_number:
          type: integer
        member_type:
          type: string
        poe_info:
          $ref: '#/components/schemas/topology_node_poe_info'
    XiqErrorParams:
      type: object
      description: Error parameters
      properties:
        field:
          type: string
          description: The error field
        value:
          type: string
          description: The error value
    topology_link:
      type: object
      description: The Topology Link
      properties:
        source:
          type: integer
        source_port_id:
          type: string
        source_lag:
          type: string
        destination:
          type: integer
        destination_port_id:
          type: string
        destination_lag:
          type: string
        index:
          type: integer
        connected:
          type: boolean
        connection_mode:
          type: string
          enum:
          - LLDP
          - CLIENT
          - UNKNOWNDEVICE
          - MESH
          - VGVA
          - FAKEGATEWAY
    topology_unknown_device:
      type: object
      description: Details of Unknown Device in Topology
      properties:
        mac_address:
          type: string
        hostname:
          type: string
        type:
          type: string
        ip_address:
          type: string
    client_details_overview:
      type: object
      description: The OverView for Client
      properties:
        device_connected:
          type: boolean
        device_id:
          type: integer
          format: int64
        os_type:
          type: string
        ip_address:
          type: string
        mac_address:
          type: string
        device_location_names:
          type: string
        device_location_id:
          type: integer
          format: int64
        alias:
          type: string
        user:
          type: string
        connection_to:
          type: string
        connection_time:
          type: integer
          format: int64
        vlan:
          type: integer
        cwp_used:
          type: integer
        user_profile:
          type: string
        ssid:
          type: string
        radio:
          type: string
        wifi_protocol:
          type: string
        channel:
          type: integer
        client_hostname:
          type: string
        client_type:
          type: string
        rtts_supported:
          type: boolean
    topology_node_vlan:
      type: object
      description: Vlan Info for Topology Node
      properties:
        mgmt_vlan:
          type: integer
        native_vlan:
          type: integer
        access_port_vlans:
          type: array
          items:
            type: integer
        trunk_port_vlans:
          type: array
          items:
            type: integer
        user_profile_vlans:
          type: array
          items:
            type: integer
  responses:
    ErrorResponse:
      description: The generic ExtremeCloud IQ API error response
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/XiqError'
  securitySchemes:
    BearerAuth:
      type: http
      description: JSON Web Token (JWT) based authentication
      scheme: bearer
      bearerFormat: JWT
externalDocs:
  description: API Reference
  url: https://extremecloudiq.com/api-docs/api-reference.html
