openapi: 3.0.3
info:
  title: ExtremeCloud IQ Account Universal Compute Platform API
  description: 'ExtremeCloud IQ™ API allows customers and partners to create solutions for the management, monitoring, and provisioning

    of any ExtremeCloud IQ™ environment.


    All related resources and documentation are available at [ExtremeCloud IQ Developer Portal](https://developer.extremecloudiq.com/).

    Please check [Get Started and Tutorial](https://developer.extremecloudiq.com/documentation/) to understand how to use the APIs.


    Get the [latest OpenAPI definition](https://github.com/extremenetworks/ExtremeCloudIQ-OpenAPI/blob/main/xcloudiq-openapi.yaml)

    from [ExtremeCloud IQ OpenAPI GitHub repository](https://github.com/extremenetworks/ExtremeCloudIQ-OpenAPI).


    Please have a valid [ExtremeCloud IQ](https://extremecloudiq.com/) account before getting started.

    If you don''t have one, please [register a new account](https://www.extremenetworks.com/cloud-networking/).'
  termsOfService: https://www.extremenetworks.com/company/legal/terms-of-use/
  contact:
    name: Extreme Networks Support
    url: https://www.extremenetworks.com/support
    email: support@extremenetworks.com
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.html
  version: 25.9.0-36
servers:
- url: https://api.extremecloudiq.com
  description: ExtremeCloud IQ REST API Server
tags:
- name: Universal Compute Platform
  description: The Universal Compute Platform (UCP) API
paths:
  /ucp/{id}/engines/installed:
    get:
      tags:
      - Universal Compute Platform
      summary: Get list of all installed engines for a UCP device
      description: Retrieve the list of installed engines from a connected UCP device.
      externalDocs:
        description: API Reference
        url: https://extremecloudiq.com/api-docs/api-reference.html#_get_ucp_engines_installed
      operationId: getDeviceUcpEnginesInstalled
      parameters:
      - $ref: '#/components/parameters/id'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/XiqUcpEnginesInstalled'
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
      - BearerAuth: []
components:
  schemas:
    XiqUcpEngineInstanceElement:
      allOf:
      - type: object
        description: The payload of the UCP Engine Instance Installation Information
        properties:
          name:
            type: string
            description: The engine instance name
          displayName:
            type: string
            description: The display name of the instance
    XiqError:
      type: object
      properties:
        error_code:
          type: string
          description: The error code
        error_id:
          type: string
          description: The error ID for internal troubleshooting
        error_message:
          type: string
          description: The error detailed message
        error_message_code:
          type: string
          description: The error message code
        error_message_description:
          type: string
          description: The error message description
        error_params:
          $ref: '#/components/schemas/XiqErrorParams'
      required:
      - error_code
      - error_id
      - error_message
    XiqErrorParams:
      type: object
      description: Error parameters
      properties:
        field:
          type: string
          description: The error field
        value:
          type: string
          description: The error value
    XiqUcpEnginesInstalled:
      allOf:
      - type: object
        properties:
          engines:
            type: array
            description: The installed engines
            items:
              $ref: '#/components/schemas/XiqUcpEngineElement'
        example:
          engines:
          - name: xiq
            description: ExtremeCloud IQ
            instances: []
            instanceCount: 0
            maxInstances: 1
            type: none
            upgradable: false
          - name: xiqtc
            description: Extreme Tunnel Concentrator
            instances:
            - name: xiqtc-1
              displayName: 'xiqtc #1'
            instanceCount: 1
            maxInstances: 3
            type: vmi
            upgradable: true
            imageName: vmidisks/xiqtc
    XiqUcpEngineElement:
      allOf:
      - type: object
        description: The payload of the UCP Engine Installation Information
        properties:
          name:
            type: string
            description: The engine ID
          description:
            type: string
            description: The engine display name
          instances:
            type: array
            items:
              $ref: '#/components/schemas/XiqUcpEngineInstanceElement'
          instanceCount:
            type: integer
          maxInstances:
            type: integer
          type:
            type: string
          upgradable:
            type: boolean
          imageName:
            type: string
  responses:
    ErrorResponse:
      description: The generic ExtremeCloud IQ API error response
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/XiqError'
  parameters:
    id:
      name: id
      in: path
      description: The unique identifier
      required: true
      schema:
        type: integer
        format: int64
  securitySchemes:
    BearerAuth:
      type: http
      description: JSON Web Token (JWT) based authentication
      scheme: bearer
      bearerFormat: JWT
externalDocs:
  description: API Reference
  url: https://extremecloudiq.com/api-docs/api-reference.html
